table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }

  .highlight{
    background:#bef9bb;
  }

  .table-container {
    margin-top: 10px;
    max-height: 300px;
    overflow: auto;
  }