<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<app-page-header [heading]="'Shifts'" [icon]="'fa fa-fw fa-users'"></app-page-header>

<!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field> -->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="ShiftID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Shift ID </th>
    <td mat-cell *matCellDef="let element"> {{element.ShiftID}} </td>
  </ng-container>

  <ng-container matColumnDef="WeekOff1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Week Off 1 </th>
    <td mat-cell *matCellDef="let element"> {{element.WeekOff1}} </td>
  </ng-container>

  <ng-container matColumnDef="WeekOff2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Week Off 2 </th>
    <td mat-cell *matCellDef="let element"> {{element.WeekOff2}} </td>
  </ng-container>

  <ng-container matColumnDef="WeekOff3">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Week Off 3 </th>
    <td mat-cell *matCellDef="let element"> {{element.WeekOff3}} </td>
  </ng-container>

  <ng-container matColumnDef="StartTimeIST">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time IST </th>
    <td mat-cell *matCellDef="let element"> {{element.StartTimeIST}} </td>
  </ng-container>

  <ng-container matColumnDef="EndTimeIST">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time IST </th>
    <td mat-cell *matCellDef="let element"> {{element.EndTimeIST}} </td>
  </ng-container>

  <ng-container matColumnDef="IsActive">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="$event.stopPropagation(); status(element.ShiftID, element.IsActive)" mat-raised-button color="primary">
        <mat-icon *ngIf="!element.IsActive">verified_user</mat-icon>
        <mat-icon *ngIf="element.IsActive">not_interested</mat-icon>
        {{element.IsActive ? 'Deactivate' : 'Activate'}}
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.ShiftID}"
    (click)="highlight(row)">
  </tr>

</table>
<mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>

<br>

<h2>{{formType}} Shift</h2>
<form [formGroup]="shiftForm" #formDirective="ngForm" (ngSubmit)="onSubmit(shiftForm, formDirective)">
  <div class="example-container">
    <div class="row">
      <div class="col-xl-3">

        <mat-form-field>
          <mat-select placeholder="Select Week Off 1" formControlName="weekOff1">
            <mat-option *ngFor="let week of weekList " [value]="week">{{week}}</mat-option>
          </mat-select>
          <mat-error *ngIf="shiftForm.get('weekOff1').invalid">{{getErrorMessage('weekOff1')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-3">
        <mat-form-field>
          <mat-select placeholder="Select Week Off 2" formControlName="weekOff2">
            <mat-option *ngFor="let week of weekList " [value]="week">{{week}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field style="display:none">
        <mat-select placeholder="Select Week Off 3" formControlName="weekOff3">
          <mat-option *ngFor="let week of weekList " [value]="week">{{week}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="col-xl-3">
        <mat-form-field>
          <mat-select placeholder="Start Time IST" formControlName="startTimeIST">
            <mat-option *ngFor="let time of timeList " [value]="time">{{time}}</mat-option>
          </mat-select>
          <mat-error *ngIf="shiftForm.get('startTimeIST').invalid">{{getErrorMessage('startTimeIST')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-3">
        <mat-form-field>
          <mat-select placeholder="End Time IST" formControlName="endTimeIST">
            <mat-option *ngFor="let time of timeList " [value]="time">{{time}}</mat-option>
          </mat-select>
          <mat-error *ngIf="shiftForm.get('endTimeIST').invalid">{{getErrorMessage('endTimeIST')}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" [disabled]="!shiftForm.valid" mat-raised-button color="primary">{{formType}}
      Shift</button>&nbsp;
    <button type="button" (click)="formReset(shiftForm, formDirective);" mat-raised-button color="primary">Cancel</button>
  </div>
</form>