
<div class="card">

        <br>
        
        <form [formGroup]="taskeditForm">
          <div class="example-container " style="padding-left:10px;padding-right: 10px;"> 
            <div class="row">    
                        <div class="col-md-4">
                                    <!-- Task PROJECT Coloumn -->
                                    <mat-form-field class="w-100">
                                            <mat-label style="font-weight:bold;font-size:19px;color: black">Project Title</mat-label>
                                            <BR>
                                        <input matInput placeholder="Project Title" formControlName=Project_ID  [(ngModel)]="dataSource.Project_Title"  [readonly]="true">
                                    </mat-form-field>
                                </div>   
                <div class="col-md-4">
                        <!-- Task ID Coloumn -->
                        <mat-form-field class="w-100">
                                <mat-label style="font-weight:bold;font-size:19px;color: black">Task ID</mat-label>
                                <BR>
                            <input matInput placeholder="Task Id" formControlName=ProjectTaskID  [(ngModel)]="dataSource.ProjectTaskID"  [readonly]="true">
                        </mat-form-field>
                    </div>
                      <!-- Task Title Coloumn -->
                      <div class="col-md-4" >
                              <mat-form-field class="w-100">
                                     <mat-label style="font-weight:bold;font-size:15px;color: black">Task Title</mat-label>
                                      <BR>
                                       <input matInput placeholder="Task Title" formControlName=TaskTitle  [(ngModel)]="dataSource.TaskTitle" [readonly]="true">
       
                           
             
                           <!-- Validation Error Message -->
                                      <mat-error *ngIf="taskeditForm.controls.TaskTitle.invalid">
                                          <span [hidden]="!taskeditForm.controls['TaskTitle'].errors.required">
                                              Task Title is required.
                                          </span>
                                          <span [hidden]="!taskeditForm.controls['TaskTitle'].errors.maxlength">
                                                  Maximum allowed characters are 25
                                          </span>
                                      </mat-error>
                              </mat-form-field>
                    </div>
                 
          


       <!-- Project Description Coloumn -->

         <div class="col-md-4">
                  <div class="w-100">
                     <mat-label style="font-weight:bold;font-size:15px;color: black;display: block; margin-bottom: 5px;">Description</mat-label>
       
                        <textarea class="form-control rounded-0"  Placeholder="Project Description" rows="3" id="projectDescription" formControlName=projectDescription  [(ngModel)]="dataSource.Project_Description" [readonly]="true"></textarea>
                </div>      
        </div>
      </div>
    
<br>
<br>
        <div class="row">    
       
            
        <!-- Select Task Status  -->
                    <div class="col-md-4">
                            <mat-form-field class="w-100">
                                     <mat-label style="font-weight:bold;font-size:15px;color: black">Task Status</mat-label>
                                <BR>
                                    <mat-select placeholder="Task Status" formControlName=Status_Id  [(ngModel)]="dataSource.Status_Id">
                   
                                                 <mat-option *ngFor="let status of taskStatus" [value]="status.Status_Id">
                                                      {{status.Status_Type}}
                                                  
                                                </mat-option> 
            
                                    </mat-select>
            
                            <!-- Validation Error Message -->
                                <mat-error *ngIf="taskeditForm.controls.Status_Id.invalid">
                                      <span [hidden]="!taskeditForm.controls['Status_Id'].errors.required">
                                            Please select the Task Status.
                                      </span>
                                 </mat-error>
                            
                            </mat-form-field>
                    </div>
        
        <!-- Select Task Priority  -->
                      <div class="col-md-4">
                            <mat-form-field class="w-100">
                                     <mat-label style="font-weight:bold;font-size:15px;color: black">Task Priority</mat-label>
                                <BR>
                                    <mat-select placeholder="Task Priority" formControlName=Priority_Id [(ngModel)]="dataSource.Priority_Id">
                   
                                                <mat-option *ngFor="let priority of taskPriority" [value]="priority.Priority_Id">
                                                      {{priority.Priority_Type}}
                                                  
                                                </mat-option>
            
                                    </mat-select>
            
                             <!-- Validation Error Message -->
                                <mat-error *ngIf="taskeditForm.controls.Priority_Id.invalid">
                                      <span [hidden]="!taskeditForm.controls['Priority_Id'].errors.required">
                                              Please set the Task Priority.
                                      </span>
                                 </mat-error>
                            
                            </mat-form-field>
                    </div>
        
        
        <!-- Select Task Risk  -->
                    <div class="col-md-4">
                            <mat-form-field class="w-100">
                                     <mat-label style="font-weight:bold;font-size:15px;color: black">Task Risk</mat-label>
                                <BR>
                                    <mat-select placeholder="Task Risk" formControlName=Risk_Id [(ngModel)]="dataSource.Risk_Id">
                   
                                                <mat-option *ngFor="let risk of taskRisk" [value]="risk.Risk_Id">
                                                      {{risk.Risk_Type}}
                                                  
                                                </mat-option> 
         
                                    </mat-select>
            
                             <!-- Validation Error Message -->
                                <mat-error *ngIf="taskeditForm.controls.Risk_Id.invalid">
                                      <span [hidden]="!taskeditForm.controls['Risk_Id'].errors.required">
                                            Please set the Task Risk.
                                      </span>
                                 </mat-error>
                            
                            </mat-form-field>
                    </div>
        
        
        <!-- Select Task Activity  -->
                    <div class="col-md-4">
                          <mat-form-field class="w-100">
                                   <mat-label style="font-weight:bold;font-size:15px;color: black">Task Activity</mat-label>
                              <BR>
                                  <mat-select placeholder="Task Activity" formControlName=Activity_Id [(ngModel)]="dataSource.Activity_Id">
                 
                                              <mat-option *ngFor="let activity of taskActivity" [value]="activity.Activity_Id">
                                                    {{activity.Task_Activity}}
                                                
                                              </mat-option> 
        
                                  </mat-select>
          
                           <!-- Validation Error Message -->
                              <mat-error *ngIf="taskeditForm.controls.Activity_Id.invalid">
                                    <span [hidden]="!taskeditForm.controls['Activity_Id'].errors.required">
                                          Please set the Task Activity Area.
                                    </span>
                               </mat-error>
                          
                          </mat-form-field>
                    </div>
                   
        <!--  Assinged to coloumn  -->
        
                      <div class="col-md-4">
                            <mat-form-field class="w-100">
                                     <mat-label style="font-weight:bold;font-size:15px;color: black">Assinged To</mat-label>
                                <BR>
                                    <mat-select placeholder="Task_AssignTo" formControlName=Task_AssignTo [(ngModel)]="dataSource.Task_AssignTo">
                   
                                                 <mat-option *ngFor="let assignee of taskAssignee" [value]="assignee.Firstname">
                                                      {{assignee.Firstname}}
                                                  
                                                </mat-option> 
            
                                    </mat-select>
            
                             <!-- Validation Error Message -->
                                <mat-error *ngIf="taskeditForm.controls.Task_AssignTo.invalid">
                                      <span [hidden]="!taskeditForm.controls['Task_AssignTo'].errors.required">
                                            Please Assingn Task.
                                      </span>
                                 </mat-error>
                            
                            </mat-form-field>
                    </div>
        
                   
            <!-- Task Start Date Coloumn -->
                     <!-- <div class="col-md-4">
                            <mat-form-field  class="w-100" >
                                    <mat-label style="font-weight:bold;font-size:15px;color: black">Start Date</mat-label>
                                    <BR>
                                    <input matInput [matDatepicker]="pickerStart" placeholder="Start Date" formControlName="Start_Date">
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                      Validation Error Message -->
                                <!-- <mat-error *ngIf="taskForm.controls.Start_Date.invalid">
                                        <span [hidden]="!taskForm.controls['Start_Date'].errors.required">
                                                Please select the Start Date in Date Formate Only(Characters not allowed) .
                                        </span>
                                      
                                   </mat-error>
        
                             </mat-form-field> -->
                                  
                    <!-- </div> 
         -->
                     <!-- Task Target Date Coloumn -->
                    <div class="col-md-4">
                            <mat-form-field  class="w-100" >
                                    <mat-label style="font-weight:bold;font-size:15px;color: black">Target Date</mat-label>
                                    <BR>
                                    <input matInput [matDatepicker]="pickerTarget" placeholder="Target Date" formControlName=Target_Date [(ngModel)]="dataSource.Target_Date">
                                    <mat-datepicker-toggle matSuffix [for]="pickerTarget"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerTarget></mat-datepicker>
        
                      <!-- Validation Error Message  -->
                                  <mat-error *ngIf="taskeditForm.controls.Target_Date.invalid">
                                        <span [hidden]="!taskeditForm.controls['Target_Date'].errors.required">
                                              Please select the Target Date in Date Formate Only(Characters not allowed) .
                                        </span>
                                       
                                   </mat-error> 
                                 
                                
                            </mat-form-field>
                                  
                    </div> 
         
            <!-- Select Task Classification -->
                     <div class="col-md-4">
                          <mat-form-field class="w-100">
                                   <mat-label style="font-weight:bold;font-size:15px;color: black">Classification</mat-label>
                              <BR>
                                  <mat-select placeholder="Classification" formControlName=Classification [(ngModel)]="dataSource.Activity_Id">
                 
                                              <mat-option *ngFor="let classification of taskClassification" [value]="classification.viewValue" > 
                                                    {{classification.viewValue}}
                                                
                                              </mat-option> 
          
                                  </mat-select>
          
                           <!-- Validation Error Message -->
                              <mat-error *ngIf="taskeditForm.controls.Classification.invalid">
                                    <span [hidden]="!taskeditForm.controls['Classification'].errors.required">
                                          Please select Task Classification.
                                    </span>
                               </mat-error>
                          
                          </mat-form-field>
                  </div>
                    <!-- Task Description Coloumn -->
              
         <div class="col-md-4">
                <mat-form-field class="w-100">
                        <mat-label style="font-weight:bold;font-size:19px ;color: black">Task Description</mat-label>
                        <br>
                    <textarea matInput placeholder="Description" formControlName=Description  [(ngModel)]="dataSource.Description" [readonly]= "isReadOnly"> </textarea>
            
                </mat-form-field>
        </div>
        
                    
                
           </div>
       
       
          <div class="row mt-4">
            <!-- Efforts coloumn  -->
                     
            <div class="col-md-4">
              <mat-expansion-panel>
                   <mat-expansion-panel-header>
                     <mat-panel-title>
                         <mat-label style="font-weight:bold;font-size:15px;color: black">Efforts</mat-label>
                     </mat-panel-title>
                     <mat-panel-description>
                       Type Original Estimate
                     </mat-panel-description>
                   </mat-expansion-panel-header>
               
                   <mat-form-field class="w-100">
                     <input matInput placeholder="Original Estimate(hr)" formControlName="Original_Estimate" type="number" [(ngModel)]="dataSource.Original_Estimate" >
        
                      <!-- Validation Error Message -->
                      <mat-error *ngIf="taskeditForm.controls.Original_Estimate.invalid">
                          <span [hidden]="!taskeditForm.controls['Original_Estimate'].errors.required">  
                                Please Add Original Estimate ,it should be Numeric only.
                          </span>
                     </mat-error>
        
                   </mat-form-field>
        
                   <mat-form-field  class="w-100">
                     <input matInput placeholder="Remaining(hr)" formControlName="Remaining" type="number" [(ngModel)]="Remaining">
                     </mat-form-field>
        
                   <mat-form-field  class="w-100">
                    <input matInput placeholder="Completed(hr)" formControlName="Completed" type="number" [(ngModel)]="Completed">
                     </mat-form-field>
                  
                 </mat-expansion-panel>
              </div>
             
      
        
          <!-- upload coloumn  -->
          <div class="row mb-3">
                 <div class="col-md-4" >
                  <label style="font-weight:bold;font-size:15px;color: black; font-family: Roboto, Arial, sans-serif"> Upload </label>
                  <br>
                           <input type="file" name="file"  (change)="onFileChanged($event)" />
                   
                  </div>
         </div> 
        </div>
        
   

    </div>
          
          <div class="w-100 float-left table-info px-4 py-2 text-right">
              <!-- This button will be used to  Edit Task -->
              <div *ngIf="disable" >
                  <button mat-button class="btn btn-info"  (click)="MakeFieldEditable()" ><i class="fa fa-edit" aria-hidden="true"></i>Edit</button>
                 <button mat-button class="btn btn-secondary ml-3" [routerLink]="['/tasks']"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
              </div>
              <!-- This button will be used to  Update Task -->
               <div *ngIf="!disable" >
                   <button mat-button class="btn btn-success ml-3" (click)="UpdateTaskByID()"><i class="fa fa-save" aria-hidden="true" ></i> Update</button>     
                   <button mat-button class="btn btn-secondary ml-3"  (click)=" MakeFieldEditable()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button> 
                   <button mat-button class="btn btn-secondary ml-3" [routerLink]="['/tasks']"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
               </div>
             
           </div>
        
        </form>
        </div>