
<div>
  <app-page-header [heading]="'Add Task'" [icon]="'fa fa-users'"></app-page-header>

</div>
<div class="card">
<div class="card-header bg-info">
  <mat-label class="labeltext text-white" style="font-size:17px;"> New Task </mat-label>
</div>

<br>
<form [formGroup]="taskForm" >
<div class="example-container " style="padding-left:10px;padding-right: 10px;">    
  <div class="row">    
      <div class="col-md-4" >
          <!-- Task Title Coloumn -->
          <mat-form-field class="w-100">
                  <mat-label style="font-weight:bold;font-size:18px;color: black">Task Title</mat-label>
                  <BR>
              <input matInput placeholder="Task Title" formControlName=TaskTitle>
              

              <!-- Validation Error Message -->
              <mat-error *ngIf="taskForm.controls.TaskTitle.invalid">
                  <span [hidden]="!taskForm.controls['TaskTitle'].errors.required">
                      Task Title is required.
                  </span>
                  <span [hidden]="!taskForm.controls['TaskTitle'].errors.maxlength">
                      Maximum allowed characters are 25
                  </span>

                  <!-- <span [hidden]="!taskForm.controls['TaskTitle'].errors.pattern">
                      Special characters are not allowed here.
                  </span> -->

              </mat-error>
          </mat-form-field>
      </div>
       <!-- Select Client Name -->
      <div class="col-md-4">
              <mat-form-field class="w-100">
                      <mat-label style="font-weight:bold;font-size:18px; color: black">Client Name</mat-label>
                      <BR>
                        <mat-select placeholder="ClientName" formControlName=ClientName>
                             
                              <mat-option *ngFor="let clients of myclients" [value]="clients.ClientName">
                                 {{clients.ClientName}}
                                    </mat-option>
      
              </mat-select>
                          <!-- Validation Error Message -->
                       <mat-error *ngIf="taskForm.controls.ClientName.invalid">
                              <span [hidden]="!taskForm.controls['ClientName'].errors.required">
                                  Client Name is required.
                              </span>
                          </mat-error>
               </mat-form-field> 
      
              </div>
    
        <!-- Select Project Name -->
      <div class="col-md-4">
              <mat-form-field class="w-100">
                      <mat-label style="font-weight:bold;font-size:18px;color: black">Project Name</mat-label>
                      <BR>
                       <mat-select placeholder="Project Name" formControlName=Project_ID >
             
                                          <mat-option *ngFor="let projects of myclients" [value]="projects.ProjectID">
                                      {{projects.Title}}
                                            
                                          </mat-option>
      
                      </mat-select>
      
                       <!-- Validation Error Message -->
                       <mat-error *ngIf="taskForm.controls.Project_ID.invalid">
                                <span [hidden]="!taskForm.controls['Project_ID'].errors.required">
                                   Project is required.
                              </span>
                          </mat-error>
                      
               </mat-form-field>
              </div>
  </div>
  <div class="row mb-3">
    
      <!-- Task Description Coloumn -->
      <div class="col-md-4">
          <mat-form-field class="w-100">
                  <mat-label style="font-weight:bold;font-size:18px;color: black">Description</mat-label>
                  <BR>
              <textarea matInput placeholder="Description" formControlName=Description> </textarea>
              <!-- Validation Error Message -->
               <!-- <mat-error *ngIf="taskForm.controls.Description.invalid">
                  <span [hidden]="!taskForm.controls['Description'].errors.required">
                      Task Description is required.
                  </span>
              </mat-error>  -->


          </mat-form-field>
      </div>
                     
         <div class="col-md-4 " style="margin-top:22px">
          <label style="font-weight:bold;font-size:17px;color: black; font-family: Roboto, Arial, sans-serif" >Upload Document</label>
              <br>
                   <input type="file" name="file"  (change)="onFileChanged($event)" />
           
          </div>
     </div>

</div>


<div class="w-100 float-left table-info px-4 py-2 text-right">
  <!-- This button will be used to save new Task into the database-->

       <button mat-button class="btn btn-success" [disabled]="!taskForm.valid" (click)="SaveData()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Save</button>
       <button mat-button class="btn btn-info ml-3" [routerLink]="['/tasks']"  ><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
</div>

</form>
</div>


