################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PMS/v15/.suo
/.vs/LegaSys28012019/v15
/.vs/slnx.sqlite-journal
