.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }

  .container > * {
    width: 100%;
  }

  .form {
    display: flex;
    padding-top: 6px;
  }

  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }
.add-project textarea { height: 44px !important; min-height: 44px !important; }

.labeltext
{
  margin-left: 40%;

}

// testing 27112018 