<app-page-header [heading]="'Client Details'" [icon]="'fa fa-info-circle'"></app-page-header>



<mat-tab-group   >
  <mat-tab label="Summery"> <app-client-details-summary></app-client-details-summary> </mat-tab>
  <mat-tab label="Personal Details" style="background-color:aqua;"><app-client-details-personal-details></app-client-details-personal-details>  </mat-tab>
  <mat-tab label="Co client Details" style="background-color:aqua;"><app-client-details-co-client-details></app-client-details-co-client-details>  </mat-tab>
</mat-tab-group>
