<div class="row" >
    <div class="col-md-2"><strong> Name :</strong></div>
    <div class="col-md-2"> {{resoursedetails.Firstname+ ' '+ resoursedetails.Middlename+' '+ resoursedetails.Lastname}}</div>
    <div class="col-md-2"><strong>TotalExp:</strong></div>
    <div class="col-md-2">{{resoursedetails.TotalExp}}</div>
  </div><br><br>
      <div class="row">
            <div class="col-md-2"><strong>EmailId:</strong></div>
            <div class="col-md-2">{{resoursedetails.EmailId}}</div>
            <div class="col-md-2"><strong>Location Address:</strong></div>
            <div class="col-sm-2">{{resoursedetails.LocationAddress}}</div>
      </div><br><br>
      <div class="row">
            <div class="col-md-2"><strong>Remarks :</strong></div>
            <div class="col-md-2">{{resoursedetails.Remarks}}</div>
            <div class="col-md-2"><strong>Shift :</strong></div>
            <div class="col-sm-2">{{resoursedetails.Shift}}</div>
      </div><br><br>
      <div class="row">
            <div class="col-md-2"><strong>Reporting Head:</strong></div>
            <div class="col-md-2">{{resoursedetails.ReportingHead}}</div>
           
      </div><br><br>