<form [formGroup]="uQualificationForm" > 
<!-- <p class="bg-white" style="color: #f44336;font-size: smaller">*Start with the least qualification first</p> -->

  <div *ngIf="showQTable" >
      <mat-accordion>
          <mat-expansion-panel  [expanded]='false'>
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: larger;color:black">
                Add Qualification Details
              </mat-panel-title>
              
            </mat-expansion-panel-header>
    <div formGroupName="Qgrid">
      <mat-table [dataSource]="qualificationDS" matSort class="example-container mat-elevation-z8 resource-grid">
        <ng-container matColumnDef="QualificationID">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Qualification ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.QualificationID}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Qualification">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Qualification*</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Qualification}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Stream">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Stream / Subjects</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.QStream|uppercase}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Year">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Year of Passing</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.QYear}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="BoardUniversity">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white">Board/University</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.BoardUniversity|uppercase}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Marks">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Marks Obtained(%)</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.QMarks}} </mat-cell>>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row matTooltip="Click to update below" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.QualificationID}"
          (click)="highlight(row)"></mat-row>

      </mat-table>
      <span  style="color: #f44336;font-size: smaller">*Start with the least qualification first</span>
      <br><br><br>
    
      <div *ngIf="isAddItem">
      <!--  <form [formGroup]="uQualificationForm.controls.Qgrid">-->
           
                  <div class="row">
                    <div class="col-xl-4">
                      <mat-form-field style="width:350px !important">
                        <mat-select placeholder="Select Qualification" formControlName="Qualification"  (selectionChange)="matchQualification($event.value)" >
                          <!-- <mat-select placeholder="Select Qualification" formControlName="Qualification"   > -->
                          <mat-option value="10th">10th</mat-option>
                          <mat-option value="12th">12th</mat-option>
                          <mat-option value="Graduate">Graduate</mat-option>
                          <mat-option value="PostGraduate">Post Graduate</mat-option>
                          <!-- <mat-option value="HQ">Higher Qualification</mat-option>   -->
                        </mat-select>
                        <mat-error *ngIf="uQualificationForm.controls.Qgrid.controls['Qualification'].invalid">
                            <span *ngIf="uQualificationForm.controls.Qgrid.controls['Qualification'].errors.required">Qualification is required</span>
                            <span *ngIf="uQualificationForm.controls.Qgrid.controls['Qualification'].errors.matchQualification">Already exists qualification cannot be entered again</span>
  
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4">
                      <mat-form-field style="width:450px !important">
                        <textarea matInput placeholder="Stream/Subjects" formControlName="QStream" class="text-uppercase" type="text" pattern="[a-zA-Z, ]*" ></textarea>
                        <mat-error *ngIf="uQualificationForm.controls.Qgrid.controls['QStream'].invalid">
                          <span *ngIf="uQualificationForm.controls.Qgrid.controls['QStream'].errors.required">Stream is required</span>
                          <span *ngIf="uQualificationForm.controls.Qgrid.controls['QStream'].errors.pattern">Only text allowed</span>

                      </mat-error>
                     
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4">
                        <mat-form-field style="width:350px !important">
                          <input matInput placeholder="Board/University" formControlName="BoardUniversity" class="text-uppercase" [matAutocomplete]="auto1">
                          <!-- <input matInput placeholder=" Certification Type" formControlName="Type" class="text-uppercase"  [matAutocomplete]="auto"> -->
                          <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let board of boards" [value]="board">
                                {{board}}
                            </mat-option>
                          </mat-autocomplete>
                            <mat-error *ngIf="uQualificationForm.controls.Qgrid.controls['BoardUniversity'].invalid">
                              <span *ngIf="uQualificationForm.controls.Qgrid.controls['BoardUniversity'].errors.required"> Board/University is required..</span>     
                              <!-- <span *ngIf="personalDetailsForm.controls['Firstname'].errors.maxlength">Maximum allowed characters are 25.</span>                           -->
                              <span *ngIf="uQualificationForm.controls.Qgrid.controls['BoardUniversity'].errors.pattern ">Special characters and numbers are not allowed.</span>
                            </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                      <div class="row">
                    <div class="col-xl-4">
                      <mat-form-field style="width:200px !important">
                        <input matInput placeholder="Year" formControlName="QYear" type="text" pattern="[0-9]+" (keyup)="matchYear()" >
                        <mat-error *ngIf="uQualificationForm.controls.Qgrid.controls['QYear'].invalid  ">
                            <span *ngIf="uQualificationForm.controls.Qgrid.controls['QYear'].errors.required">
                                Year is required
                          </span>   
                          <span *ngIf="uQualificationForm.controls.Qgrid.controls['QYear'].errors.pattern">
                                Year must be numeric.
                        </span> 
                        <span *ngIf="uQualificationForm.controls.Qgrid.controls['QYear'].errors.maxlength">
                            Year can't be more than 4 digit long.
                    </span> 
                    <span *ngIf="uQualificationForm.controls.Qgrid.controls['QYear'].errors.minlength">
                        Year must atleast 4 digit long.
                   </span>   
                   <span *ngIf="uQualificationForm.controls.Qgrid.controls['QYear'].errors.matchYear">
                     {{yearErrorFlags()}}
                 </span>                      
                          </mat-error>
                        <!-- <mat-error *ngIf="uQualificationForm.controls.Qgrid.hasError('required', 'QYear') "> Year is required.</mat-error>
                        <mat-error *ngIf="uQualificationForm.get('Qgrid.QYear').hasError('maxlength')" >
                            Year must be 4 digit long. -->
                       
                            <!-- <mat-error *ngIf="professionalDetailsForm.controls['companyZipcode'].invalid">
                              <span *ngIf="professionalDetailsForm.controls['companyZipcode'].errors.required">
                                    ZIP can not be blank
                              </span>               
                              <span *ngIf="professionalDetailsForm.controls['companyZipcode'].errors.pattern">
                                      Cna contain only numbers
                                </span>    
                           </mat-error> -->


                      </mat-form-field>
                    </div>
                    
                    <div class="col-xl-4">
                      <mat-form-field style="width:350px !important">
                        <input   matInput placeholder="Marks" formControlName="QMarks" type="number" pattern="[0-9/.]+"  >
                        <!-- <input   matInput placeholder="Marks" formControlName="QMarks" type="number" pattern="^(100\.00|[0-9]?\d\.\d{2})$"  > -->
                        <mat-error *ngIf="uQualificationForm.controls.Qgrid.controls['QMarks'].invalid">
                          Invalid Marks  
                        </mat-error>
                            <!-- <span>Is a valid decimal? {{uQualificationForm.myDecimal.$valid}}</span> -->
                        <mat-error *ngIf="uQualificationForm.controls.Qgrid.hasError('required', 'QMarks') ">
                              <!-- <span [hidden]="!uQualificationForm.controls.Qgrid.Marks.errors.required"> -->
                                  Marks is required.
                              <!-- </span> -->
                            </mat-error>
                            <!-- <mat-error *ngIf="uQualificationForm.get('Qgrid.QMarks').hasError('maxlength')">
                                  Maximum 3 digits
                                    </mat-error> -->
                          
                      </mat-form-field>
                    </div>
                    
                    <div class=" col-xl-4">
                      
                      <button type="button" class="btn btn-secondary float-right ml-2" (click)="formResetQ();"><i class="fa fa-times"
                          aria-hidden="true"></i>Reset</button>
                      <button   [disabled]="!uQualificationForm.controls.Qgrid.valid" type="button" class="btn btn-info float-right" (click)="addQualification()"><i class="fa fa-plus"
                          aria-hidden="true"></i>
                        {{qformType}} Qualification </button>
                       
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
              </div>  
                </mat-expansion-panel>
              </mat-accordion>
     <!--   </form>-->
     
   
    <!-- //////////////// -->
    <!-- <br><br> -->
    <!-- <mat-divider></mat-divider> -->
    <mat-accordion>
        <!-- <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" >
          <mat-expansion-panel-header> -->
              <mat-expansion-panel [expanded]='false'
              >
                <mat-expansion-panel-header>
            <mat-panel-title  style="font-size: larger;color: black;">
              Add Certification Details
            </mat-panel-title>

          </mat-expansion-panel-header>
    <div formGroupName="Cgrid">
      <mat-table [dataSource]="certificationDS" matSort class="example-container mat-elevation-z8 resource-grid">
        <ng-container matColumnDef="CertificationID">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header>Certification ID
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CertificationID}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="CertificateNumber">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white">Certification
              Number </span></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CertificateNumber}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Type">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Certification
              Type</span> </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Type|uppercase}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Stream">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Stream</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CStream|uppercase}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Year">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Year of Passing</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CYear}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Institution">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Institution</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Institution|uppercase}} </mat-cell>>
        </ng-container>
        <ng-container matColumnDef="Marks">
          <mat-header-cell mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white ">Marks Obtained(%)
            </span></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CMarks}} </mat-cell>>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedCertColumns"></mat-header-row>

        <mat-row matTooltip="Click to update below"  *matRowDef="let row; columns: displayedCertColumns;" [ngClass]="{'highlight': selectedRowIndex1 == row.CertificationID}"
          (click)="highlightCert(row)"></mat-row>

      </mat-table>
      <br><br>
      <div  *ngIf="isAddItem">
     
          <div class="row">
            <div class="col-xl-4">
              <mat-form-field style="width:350px !important" #matformfield>
                <input matInput  placeholder="Certificate Number" formControlName="CertificateNumber" type="text" pattern="[0-9]+" >
                <mat-error *ngIf="uQualificationForm.controls.Cgrid.controls['CertificateNumber'].invalid  ">
                    Certificate Number must be numeric. 
                  </mat-error>
                <mat-error *ngIf="uQualificationForm.controls.Cgrid.hasError('required', 'CertificateNumber')">
                  <!-- <span [hidden]="!uQualificationForm.controls['CertificateNumber'].errors.required"> -->
                    Certification Number is required.
                  <!-- </span> -->
                </mat-error>
                <mat-error *ngIf="uQualificationForm.get('Cgrid.CertificateNumber').hasError('maxlength')" >
                    Maximum 10 digits allowed
                  </mat-error>
                  <!-- <mat-error>
                    CertificateNumber already exists!!!
                  </mat-error> -->
              </mat-form-field>
            </div>
            <div class="col-xl-4">
              <mat-form-field style="width:350px !important">
                <input matInput placeholder=" Certification Type" formControlName="Type" class="text-uppercase"  [matAutocomplete]="auto" >
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let cType of cTypes" [value]="cType">
                      {{cType}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error  *ngIf="uQualificationForm.controls.Cgrid.hasError('required', 'Type')">
                  <!-- <span [hidden]="!uQualificationForm.controls['Type'].errors.required"> -->
                      <!-- <span >
                          whitespace not allowed
                    </span>  
                    <span>
                        Type is required.
                  </span>   -->
                    Type is required.
                  <!-- </span> -->
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-4">
              <mat-form-field style="width:350px !important">
                <input matInput placeholder="Stream" formControlName="CStream" class="text-uppercase" [matAutocomplete]='auto3'>
                <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option *ngFor="let cstream of cstreams" [value]="cstream">
                      {{cstream}}
                  </mat-option>
                </mat-autocomplete> 
                <mat-error *ngIf="uQualificationForm.controls.Cgrid.hasError('required', 'CStream') ">
                  <!-- <span [hidden]="!uQualificationForm.controls['Stream'].errors.required"> -->
                    Stream is required.
                  <!-- </span> -->
                </mat-error>
              </mat-form-field>
            </div>
            </div>
            <div class="row">
            <div class="col-xl-4">
              <mat-form-field style="width:350px !important">
                <input matInput placeholder="Year of passing" formControlName="CYear" type="text" pattern="[0-9]+">
                <mat-error *ngIf="uQualificationForm.controls.Cgrid.controls['CYear'].invalid  ">
                    <span *ngIf="uQualificationForm.controls.Cgrid.controls['CYear'].errors.required">
                        Year is required
                  </span>   
                  <span *ngIf="uQualificationForm.controls.Cgrid.controls['CYear'].errors.pattern">
                        Year must be numeric.
                </span> 
                <span *ngIf="uQualificationForm.controls.Cgrid.controls['CYear'].errors.maxlength">
                    Year can't be more than 4 digit long.
            </span> 
            <span *ngIf="uQualificationForm.controls.Cgrid.controls['CYear'].errors.minlength">
                Year must atleast 4 digit long.
           </span>                                 
                  </mat-error>
              </mat-form-field>
            </div>
          
          <!-- <div class="row"> -->
            <div class="col-xl-4">
              <mat-form-field style="width:350px !important">
                <input matInput placeholder="Institution.." formControlName="Institution" class="text-uppercase" [matAutocomplete]="auto2">   
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option *ngFor="let institute of institutes" [value]="institute">
                      {{institute}}
                  </mat-option>
                </mat-autocomplete>           
                <mat-error *ngIf="uQualificationForm.controls.Cgrid.controls['Institution'].invalid">
                  <span *ngIf="uQualificationForm.controls.Cgrid.controls['Institution'].errors.required"> Institute is required.</span>                                          
                  <span *ngIf="uQualificationForm.controls.Cgrid.controls['Institution'].errors.pattern ">Special characters and numbers are not allowed.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-4">
              <mat-form-field style="width:350px !important">
                <input matInput placeholder="Marks" formControlName="CMarks" type="number" pattern="[0-9/.]+">
                <mat-error *ngIf="uQualificationForm.controls.Cgrid.controls['CMarks'].invalid  ">
                    Invalid Marks!!!  
                  </mat-error>
                <mat-error *ngIf="uQualificationForm.controls.Cgrid.hasError('required', 'CMarks') ">
                  <!-- <span [hidden]="!uQualificationForm.controls['Marks'].errors.required"> -->
                    Marks is required!
                  <!-- </span> -->
                </mat-error>
              </mat-form-field>
            </div>

            
            <!-- <div class="col-xl-3">
              
            </div>
             -->
            </div>

            <div class="row">
                <div class="w-100 d-block text-right">

                    <button type="button" class="btn btn-secondary float-right ml-2" (click)="formResetC($event);"><i class="fa fa-times"
                        aria-hidden="true"></i>Reset</button>
                    <button [disabled]="!uQualificationForm.controls.Cgrid.valid" type="button" class="btn btn-info float-right" (click)="addCertification()"><i class="fa fa-plus"
                        aria-hidden="true"></i>
                      {{cformType}} Certification </button>
      
                  </div>
            </div>
          </div>
        </div>
        </mat-expansion-panel>
      </mat-accordion>
   
  </div>
  
  <div style=" background: #bee5eb; padding: 10px; float: left; width: 100%;">
    <div *ngIf="disableFooter" class="float-right ml-2">
      <!-- <button mat-button class="btn btn-info" (click)="edit()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Add New</button> -->
         <button mat-button class="btn btn-secondary ml-3" [routerLink]="['/resource']"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
    <!-- </div>
    <div *ngIf="!disableFooter" class="float-right ml-2"> -->
      <button [disabled]="disablesave" type="button" mat-button class="btn btn-success float-right ml-3" (click)="Save()"><i class="fa fa-save"
          aria-hidden="true"></i> Save</button>
      <button mat-button type="reset" class="btn btn-secondary ml-3" (click)="discard()"><i class="fa fa-times" aria-hidden="true"></i>
        Discard</button>
    </div>

  </div>
</form>