<!-- <div class="w-100 float-left">
    <div class="section_box pb-0 pl-0 pr-0" *ngFor="let _ApplicantEmployementDetail of _ApplicantEmployementDetails;">
        <div class="box_title">Employment Details</div>
        <div class="tab-content clearfix ml-0">
            <div class="w-100 float-left">
                <div class="tab-pane pt-3">
                    <div class="row m-0">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_set">
                                <div class="field_label">Employer</div>
                                <div class="field_info">
                                    <p *ngIf="!_EditEmployementDetails">{{_ApplicantEmployementDetail.EmployerName}}</p>
                                    <mat-form-field class="example-full-width" *ngIf="_EditEmployementDetails">
                                        <input matInput placeholder="Employer" value="{{_ApplicantEmployementDetail.EmployerName}}" [(ngModel)]="_ApplicantEmployementDetail.EmployerName" #EmployerName>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_set">
                                <div class="field_label">Source Of Income</div>
                                <div class="field_info">
                                    <p *ngIf="!_EditEmployementDetails">{{_ApplicantEmployementDetail.SourceOfIncome}}</p>
                                    <mat-form-field class="example-full-width" *ngIf="_EditEmployementDetails">
                                        <input matInput placeholder="Source Of Income" value="{{_ApplicantEmployementDetail.SourceOfIncome}}" [(ngModel)]="_ApplicantEmployementDetail.SourceOfIncome" #SourceOfIncome>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_set">
                                <div class="field_label">Income</div>
                                <div class="field_info">
                                    <p *ngIf="!_EditEmployementDetails">{{_ApplicantEmployementDetail.Income}}</p>
                                    <mat-form-field class="example-full-width" *ngIf="_EditEmployementDetails">
                                        <input matInput placeholder="Income" value="{{_ApplicantEmployementDetail.Income}}" [(ngModel)]="_ApplicantEmployementDetail.Income" #Income>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 btn-bottom pr-4 pl-4">
            <div class="w-100 float-left text-right">
                <input type="button" value="&#xf0c7; Save" (click)="UpdateEmployementDetails()" *ngIf="_EditEmployementDetails" class="btn btn-lg btn-success" />
                <input type="button" value="&#xf00d; Cancel" (click)="EditEmployementDetails()" *ngIf="_EditEmployementDetails" class="btn btn-lg btn-secondary" />
                <input type="button" value="&#xf040; Edit" (click)="EditEmployementDetails()" *ngIf="!_EditEmployementDetails" class="btn btn-lg btn-info" />
            </div>
        </div>
    </div>    
</div> -->

<h1>sandy</h1>