<!-- <div class="w-100 float-left">
    <div class="section_box pb-0 pl-0 pr-0">
        <div class="box_title">Communication Details</div>
        <div class="tab-content clearfix ml-0">
            <div class="w-100 float-left">
                <div class="tab-pane pt-3" *ngFor="let _ApplicantCommunicationDetail of _ApplicantCommunicationDetails;">
                    <div class="row m-0">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_set">
                                <div class="field_label">Adress type:</div>
                                <div class="field_info">
                                    <p>{{_ApplicantCommunicationDetail._AddressTypeMaster.Type}}</p>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left" *ngIf="!_EditCommunicationDetails">
                            <div class="field_set">
                                <div class="field_label">Address</div>
                                <div class="field_info">
                                    <p>{{_ApplicantCommunicationDetail.AddressLine1}} {{_ApplicantCommunicationDetail.AddressLine2}} {{_ApplicantCommunicationDetail.AddressLine3}}</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0" *ngIf="_EditCommunicationDetails">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <div class="field_info">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Address Line 1" value="{{_ApplicantCommunicationDetail.AddressLine1}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine1" #AddressLine1>
                                </mat-form-field>                                
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Address Line 2" value="{{_ApplicantCommunicationDetail.AddressLine2}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine2" #AddressLine2>
                            </mat-form-field>                            
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Address Line 3" value="{{_ApplicantCommunicationDetail.AddressLine3}}" [(ngModel)]="_ApplicantCommunicationDetail.AddressLine3" #AddressLine3>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 btn-bottom pr-4 pl-4">
            <div class="w-100 float-left text-right">
                <input type="button" value="&#xf0c7; Save" (click)="UpdateCommunicationDetails()" *ngIf="_EditCommunicationDetails" class="btn btn-success" />
                <input type="button" value="&#xf00d; Cancel" (click)="EditCommunicationDetails()" *ngIf="_EditCommunicationDetails" class="btn btn-secondary" />
                <input type="button" value="&#xf040; Edit" (click)="EditCommunicationDetails()" *ngIf="!_EditCommunicationDetails" class="btn btn-info" />
            </div>
        </div>
    </div>
</div> -->
<h1>sandy</h1>