<br />
<div *ngIf="resoursedetails" style=" padding: 0 15px;   overflow: hidden;">
      <div class="row">
            <div class="col-md-2 "><strong class=" "> Name :</strong></div>
            <div class="col-md-2"> {{ resoursedetails.Firstname }} {{resoursedetails.Middlename }}
                  {{resoursedetails.Lastname}}</div>
            <div class="col-md-2 "><strong class=" ">TotalExp:</strong></div>
            <div class="col-md-2">{{resoursedetails.TotalExp}}</div>
      </div><br><br>
      <div class="row">
            <div class="col-md-2 "><strong class=" ">EmailId:</strong></div>
            <div class="col-md-2">{{resoursedetails.EmailId}}</div>
            <div class="col-md-2 "><strong class=" ">Location Address:</strong></div>
            <div class="col-sm-2">{{resoursedetails.LocationAddress}}</div>
      </div><br><br>
      <div class="row">
            <div class="col-md-2"><strong class=" ">Remarks :</strong></div>
            <div class="col-md-2">{{resoursedetails.Remarks}}</div>
            <div class="col-md-2 "><strong class=" ">Shift :</strong></div>
            <div class="col-sm-2">{{resoursedetails.Shift}}</div>
      </div><br><br>
      <div class="row">
            <div class="col-md-2"><strong class=" ">Reporting Head:</strong></div>
            <div class="col-md-2">{{resoursedetails.ReportingHead}}</div>

      </div>
</div>
<div style=" background: #bee5eb; padding: 26px;"></div>