<form >
    <div class="row">
        <div class="col-md-4">
            <mat-form-field  >
                   <input matInput placeholder="Name " >
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field >
                   <input matInput placeholder="Address " >
            </mat-form-field>
        </div>
  </div>
  <div class="row">
        <div class="col-md-4">
            <mat-form-field >
                   <input matInput placeholder="Email 1 "  >
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field >
                   <input matInput placeholder="Email 2" >
            </mat-form-field>
        </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <mat-form-field >
                 <input matInput placeholder="Email 3 "  >
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <mat-form-field >
                 <input matInput placeholder="Email 4" >
          </mat-form-field>
      </div>
</div> 
  </form>