<div class="py-4 px-1">
                <div class="col-lg-12" style="margin-bottom: 1%;">
                                <div class="row">

                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Client Name : </strong></label>{{clientDetails.ClientName}}
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Address:  </strong></label>{{clientDetails.Address}}
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Country : </strong></label>{{clientDetails.Country}}
                                                </div>
                                </div>
                                <div class="row">

                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Client Status : </strong></label>{{clientDetails.Status}}
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Primary Co Client : </strong></label>{{clientDetails.CoClient}}
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Secondary Co Client  : </strong></label>{{clientDetails.CoClient2}}
                                                </div>
                                </div>
                                <div class="row">

                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Client Name : </strong></label>{{clientDetails.ClientName}}
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Address: : </strong></label>{{clientDetails.Address}}
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                                                <label><strong>Country : </strong></label>{{clientDetails.Country}}
                                                </div>
                                </div>
                </div>

</div>