
<!-- table-active -->

<div>
    <app-page-header [heading]="'Tasks'" [icon]="'fa fa-users'"></app-page-header>
  
  </div>
<mat-table [dataSource]="dataSource" matSort class="example-container mat-elevation-z8">



  <!-- Task Tittle column -->
  <ng-container matColumnDef="TaskTitle">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header> <span class="text-white text-uppercase">Task
        Title</span> </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.TaskTitle}} </mat-cell>
  </ng-container>

  <!-- Task Description column -->
  <ng-container matColumnDef="Description">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white text-uppercase">Description</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
  </ng-container>


   <!-- Task Updated By column -->
  <ng-container matColumnDef="Updated_By">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white text-uppercase">Updated By</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Updated_By}} </mat-cell>
    </ng-container>


<!-- Task Updated Date Coloumn -->
    <ng-container matColumnDef="Updated_Date">
        <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white text-uppercase">Updated Date</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Updated_Date | date:"MM/dd/yy"}} </mat-cell>
      </ng-container>

  <!-- Task Project Title Coloumn -->
  <ng-container matColumnDef="Project_Title">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white text-uppercase">Project Title</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Project_Title}} </mat-cell>
    </ng-container>

  <!-- Task Project_Description Coloumn -->
  <ng-container matColumnDef="Project_Description">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white text-uppercase">Project Description </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Project_Description}} </mat-cell>
    </ng-container>


<!-- Task Project Updated By Coloumn -->
<ng-container matColumnDef="ProjectUpdated_By">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white text-uppercase">Project Updated By </span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ProjectUpdated_By}} </mat-cell>
  </ng-container>



<!-- Task Project Updated Date Coloumn -->
<ng-container matColumnDef="projectUpdated_Date">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white text-uppercase">project Updated Date</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.projectUpdated_Date | date:"MM/dd/yy"}} </mat-cell>
  </ng-container>


 <!--These Buttons are Use to Edit Record and Delete-->

  <ng-container matColumnDef="Action">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white text-uppercase">  </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"><button  (click)="ViewTask(element.ProjectTaskID)" mat-button class="btn btn-info mx-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>View</button>

        <button mat-button class="btn btn-danger mx-1"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>  </mat-cell>
    </ng-container>
  
 
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons class="table-active"></mat-paginator>

</div>

<div class="w-100 float-left table-info px-4 py-2 text-right">
  <!-- This button will be used to add new Task into the database-->

  <button mat-button class="btn btn-info" [routerLink]="['/TasksPath']"><i class="fa fa-plus" aria-hidden="true"></i>
    Add New Task</button>
</div>