<div>
  <app-page-header [heading]="'Add Resource'" [icon]="'fa fa-fw fa-users'"></app-page-header>
</div>
<div class="card mb-3">
  <div class="card-header bg-info text-center">
    <mat-label class="labeltext text-white text-uppercase ">Resource Details</mat-label>
  </div>
</div>
<form [formGroup]="resourceForm" #formDirective="ngForm" (ngSubmit)="onSubmit(resourceForm, formDirective)">
  <div class="">
    <mat-form-field hidden>
      <input matInput formControlName="UserDetailID">
    </mat-form-field>
    <div class=" row">
      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <input matInput placeholder="Firstname" formControlName="firstname" required (change)="CheckForWhiteSpace('firstname')">
          <mat-hint align="end">
            Maximum Length {{resourceForm.controls.firstname.value?.length}}/25
          </mat-hint>
          <!-- input field error -->
          <mat-error *ngIf="resourceForm.controls['firstname'].invalid">
            <span *ngIf="resourceForm.controls['firstname'].errors.required">Firstname is required. </span>
            <span *ngIf="resourceForm.controls['firstname'].errors.maxlength">Maximum allowed characters are 25.</span>
            <span *ngIf="resourceForm.controls['firstname'].errors.pattern ">Special characters,whitespaces and numbers are not allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <input matInput placeholder="Middlename" formControlName="middlename" (change)="CheckForWhiteSpace('middlename')">
          <mat-hint align="end">
            Maximum Length {{resourceForm.controls.middlename.value?.length}}/25
          </mat-hint>
          <mat-error *ngIf="resourceForm.controls['middlename'].invalid">           
            <span *ngIf="resourceForm.controls['middlename'].errors.maxlength"> Maximum allowed characters are 25.</span>
            <span *ngIf="resourceForm.controls['middlename'].errors.pattern "> Special characters,whitespaces and numbers are not allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <input matInput placeholder="Lastname" formControlName="lastname" required (change)="CheckForWhiteSpace('lastname')">
          <mat-hint align="end">
            Maximum Length {{resourceForm.controls.lastname.value?.length}}/25
          </mat-hint>
          <mat-error *ngIf="resourceForm.controls['lastname'].invalid">
            <span *ngIf="resourceForm.controls['lastname'].errors.required">Lastname is required.</span>
            <span *ngIf="resourceForm.controls['lastname'].errors.maxlength"> Maximum allowed characters are 25.</span>
            <span *ngIf="resourceForm.controls['lastname'].errors.pattern "> Special characters,whitespaces and numbers are not allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <input matInput placeholder="Total Experience" formControlName="totalexp" required type="number" pattern="[0-9/.]+">
          <mat-error *ngIf="resourceForm.controls.totalexp.invalid">
            <span [hidden]="!resourceForm.controls['totalexp'].errors.required">
              Total Experience is required.
            </span>
            <span [hidden]="!resourceForm.controls['totalexp'].errors.pattern">
              Only number is allowed.
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <input matInput placeholder="Email" formControlName="emailId" email required (keyup)="emailExists()">
          <!-- <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error> -->
          <mat-error *ngIf="resourceForm.controls.emailId.invalid ">
            <span *ngIf="resourceForm.controls['emailId'].errors.required">
              Email is required
            </span>
            <!-- <span [hidden]="resourceForm.controls['emailId'].errors.pattern">
                      Invalid Email
                     </span>  -->
            <span *ngIf="resourceForm.controls['emailId'].errors.pattern ">Invalid Email</span>

          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-1">
        <mat-form-field style="width:100px !important">
          <input matInput placeholder="Country Code" formControlName="countrycode"  [matAutocomplete]="auto2" required>
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of filterBasedOptionsForCountryCode | async" [value]="option">
                {{option}}
            </mat-option>
          </mat-autocomplete>    
          <mat-error *ngIf="resourceForm.controls.countrycode.invalid ">
            <span [hidden]="!resourceForm.controls['countrycode'].errors.required">
              Country code is required
            </span> 

            <!-- <mat-error *ngIf="resourceForm.controls['mobilenumber'].errors.pattern ">Mobile No must be 10 digit long</mat-error> -->
          </mat-error>
          <!-- <input matInput placeholder="Institution.." formControlName="Institution" class="text-uppercase" [matAutocomplete]="auto2">   
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let institute of institutes" [value]="institute">
                {{institute}}
            </mat-option>
          </mat-autocomplete>     -->
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field style="width:210px !important">
          <input matInput placeholder="Mobile" formControlName="mobilenumber" type="number"  required>
          <mat-error *ngIf="resourceForm.controls.mobilenumber.invalid ">
            <span [hidden]="!resourceForm.controls['mobilenumber'].errors.required">
              Mobile No is required
            </span> 

            <mat-error *ngIf="resourceForm.controls['mobilenumber'].errors.pattern ">Mobile No must be 10 digit long</mat-error>
          </mat-error>

        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <mat-select placeholder="Select Shift" formControlName="Master_Shift_ID" required>
            <mat-option *ngFor="let option of shift " [value]="option.ShiftID">{{option.StartTimeIST
              +'-'+option.EndTimeIST}}</mat-option>
          </mat-select>
          <mat-error *ngIf="resourceForm.controls['Master_Shift_ID'].errors?.required ">Shift is required.</mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <mat-select placeholder="Select Location" formControlName="Master_Location_ID" required>
            <mat-option *ngFor="let option of location" [value]="option.LocationID">{{option.LocationAddress}}</mat-option>
          </mat-select>
          <mat-error *ngIf="resourceForm.controls['Master_Location_ID'].errors?.required ">Location is required.</mat-error>
        </mat-form-field>
      </div>


      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <mat-select placeholder="Select Role" formControlName="Master_Role_ID" (selectionChange)="roleChanged($event.value)"
            required>
            <mat-option *ngFor="let option of role" [value]="option.UserRoleID">{{option.RoleName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="resourceForm.controls['Master_Role_ID'].errors?.required ">Role is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field style="width:350px !important">
          <mat-select placeholder="Select Reporting Head" formControlName="ReportingHead_ID" required>
            <mat-option *ngFor="let option of rHead" [value]="option.UserDetailID">{{option.Fullname}}</mat-option>
          </mat-select>
          <mat-error *ngIf="resourceForm.controls['ReportingHead_ID'].errors?.required ">Reporting Head is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-8">
        <mat-form-field style="width:910px !important">
          <textarea matInput placeholder="Extra Remarks" formControlName="remarks"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="w-100 float-left table-info px-4 py-2 text-right footer-height">
      <!-- <div class="px-2 float-right">
        <button mat-button class="btn btn-info" [routerLink]="['/client']"><i class="fa fa-backward" aria-hidden="true"></i>
          Back</button>
      </div> -->
      <!-- <button class="btn btn-info" [disabled]="!clientForm.valid"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button> -->
    
      <button class="btn btn-info mat-button mr-3" type="submit" [disabled]="!resourceForm.valid" mat-raised-button><i class="fa fa-save"
          aria-hidden="true"></i> Add Resource</button>
          <!-- <button mat-button class="btn btn-secondary mr-4" (click)="cancel()"  ><i class="fa fa-times-circle" aria-hidden="true"></i> Cancel</button> -->

          <button mat-button class="btn btn-secondary ml-3 " [routerLink]="['/resource']"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
         
        </div>
  </div>
</form>