<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div>
    <app-page-header [heading]="'Resource'" [style]="'background-color:lightgrey'" [icon]="'fa fa-fw fa-users'"></app-page-header>
    <div>
        <button type="button" [routerLink]="['/create-resource']" class="btn btn-info" style="margin-bottom: 1%;">Create
            Resource</button>
    </div>
</div>
<!-- <button mat-stroked-button color="primary">New Resource</button> -->
<!-- <mat-toolbar color="primary"> -->

<!-- </mat-toolbar> -->
<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->
<table mat-table [dataSource]="dataSource" matSort class="example-container mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="UserDetailID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> Resource ID </th>
        <td mat-cell *matCellDef="let element" hidden> {{element.UserDetailID}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="FullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Firstname+ ' '+element.Middlename+' '+element.Lastname}} </td>
    </ng-container>

    <!-- TotalExp Column -->
    <ng-container matColumnDef="TotalExp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Exp </th>
        <td mat-cell *matCellDef="let element"> {{element.TotalExp}} </td>
    </ng-container>
    <!-- EmailId Column -->
    <ng-container matColumnDef="EmailId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.EmailId}} </td>
    </ng-container>
    <!-- Shift Column -->
    <ng-container matColumnDef="Shift">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Shift </th>
        <td mat-cell *matCellDef="let element"> {{element.Shift}} </td>
    </ng-container>
    <!-- Location Column -->
    <ng-container matColumnDef="Location_ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.LocationAddress}} </td>
    </ng-container>
    <!-- Location Column -->
    <ng-container matColumnDef="ReportingHead_ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reporting Head </th>
        <td mat-cell *matCellDef="let element"> {{element.ReportingHead}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="ViewResourceDetails(element.UserDetailID)" mat-raised-button color="primary">View Details</button>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>