// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

table {
    width: 100%;
}

.mat-cell, .mat-header-cell {
    // font-size: 14px;
    // min-height: 48px;
    text-align: center;
    border-right: 1px solid lightgrey;
}

// .mat-grid-tile {
//     background: lightblue;
// }
// .example-container {
//     display: flex;
//     flex-direction: column;
//   }
  
//   .example-container > * {
//     width: 100%;
//   }