<!-- <div [@routerTransition]>
        <app-page-header [heading]="'Client'" [icon]="'fa-table'"></app-page-header>
</div> -->
<div _ngcontent-c4="" class="card mb-3">
    <div _ngcontent-c4="" class="card-header"> <mat-label class="labeltext">Client Info </mat-label></div>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

    <div class="row"> 
       
      <div class="col-lg-6">
          <!-- <form role="form"> -->
              <fieldset class="form-group">
              <mat-form-field class="inputfield">
                  <input matInput  placeholder="Client Name" formControlName="ClientName" name="ClientName" class="form-control" id="ClientName">
                </mat-form-field>
              </fieldset>

              <fieldset class="form-group">
                <mat-form-field  class="inputfield">
                    <input matInput placeholder="Primary Email" formControlName="EmailID" name="EmailID" class="form-control" id="EmailID" >
                  </mat-form-field>
              </fieldset>
              <fieldset class="form-group">
                  <mat-form-field  class="inputfield">
                      <input matInput placeholder="Primary Co Client" formControlName="CoClient" name="CoClient" class="form-control" id="CoClient">
                    </mat-form-field>
                </fieldset>
                <fieldset class="form-group">
                    <mat-form-field  class="inputfield">
                        <textarea matInput placeholder="Address" formControlName="Address" name="Address" class="form-control" id="Address"></textarea>
                      </mat-form-field>
                  </fieldset>
          <!-- </form> -->

      </div>


      <div class="col-lg-6">
          <!-- <form role="form"> -->
              <fieldset class="form-group">
              <mat-form-field  class="inputfield">
                  <input matInput placeholder="Country" formControlName="Country" name="Country" class="form-control" id="Country">
                </mat-form-field>
              </fieldset>

              <fieldset class="form-group">
                <mat-form-field  class="inputfield">
                    <input matInput placeholder="Secondary Email" formControlName="EmailID2" name="EmailID2" class="form-control" id="EmailID2">
                  </mat-form-field>
              </fieldset>

              <fieldset class="form-group">
                  <mat-form-field  class="inputfield">
                      <input matInput placeholder="Scondry Co Client" formControlName="CoClient2" name="CoClient2" class="form-control" id="CoClient2">
                    </mat-form-field>
                </fieldset>

             <button class="btn btn-default" >Submit!</button>
                        
          <!-- </form> -->

      </div>



    </div> 
    </form> 
   
 </div> 
