<div>
    <app-page-header [heading]="'Add New Client '" [icon]="'fa fa-plus'"></app-page-header>
</div>
<!-- <ngb-alert style="width:40%;" *ngIf="Message" type="success" (close)="Message = null">{{ successMessage }}</ngb-alert> -->
<div class="card mb-3">
    <div class="card-header bg-info">
        <mat-label class="labeltext text-white ">Client Information </mat-label>
    </div>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

        <div class="w-100 table-active py-3 px-2 float-left">
            <div class="w-100 float-left">
                <!-- <form role="form"> -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Client Name" formControlName="ClientName" name="ClientName" id="ClientName">
                        <mat-error *ngIf="clientForm.controls['ClientName'].invalid">{{GetClientNameErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Address" formControlName="Address" name="Address" id="CoClient">
                        <mat-error *ngIf="clientForm.controls['Address'].invalid">Client Address Can Not Be Empty</mat-error>
                        <!-- <textarea matInput placeholder="Address" formControlName="Address" name="Address" id="Address"></textarea> -->
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input [readonly]="readOnly" type="text" matInput formControlName="Country" [matAutocomplete]="auto"
                            placeholder="Country">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" style="max-height: 200px !important">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" style="max-height: 200px !important">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="clientForm.controls['Country'].invalid">Country can not be Empty</mat-error>
                    </mat-form-field>
                </div>


            </div>
            <div class="w-100 float-left">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Primary Email" formControlName="EmailID" name="EmailID" id="EmailID">
                        <mat-error *ngIf="clientForm.controls['EmailID'].invalid">{{GetEmailErrorMessage()}}</mat-error>

                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Secondary Email" formControlName="EmailID2" name="EmailID2" id="EmailID2">
                        <mat-error *ngIf="clientForm.controls['EmailID2'].invalid">Enter Valid Email ID</mat-error>

                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Other Email" formControlName="EmailID3" name="EmailID3" id="EmailID3">
                        <mat-error *ngIf="clientForm.controls['EmailID3'].invalid">Enter Valid Email ID</mat-error>

                    </mat-form-field>
                </div>


            </div>


            <div class="w-100 float-left">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Primary Co Client" formControlName="CoClient" name="CoClient" id="CoClient">
                        <mat-error *ngIf="clientForm.controls['CoClient'].invalid">{{GetPrimaryCoClientErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Secondary Co Client" formControlName="CoClient2" name="CoClient2"
                            id="CoClient2">
                        <mat-error *ngIf="clientForm.controls['CoClient2'].invalid">Can only contain text</mat-error>

                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Other Co Client" formControlName="CoClient3" name="CoClient3" id="CoClient3">
                        <mat-error *ngIf="clientForm.controls['CoClient3'].invalid">Can only contain text</mat-error>

                    </mat-form-field>
                </div>
                <!-- </form> -->
            </div>
        </div>
        <div class="w-100 float-left table-info px-4 py-2 text-right footer-height">
            <div class="px-2 float-right">
                <button mat-button class="btn btn-info" [routerLink]="['/client']"><i class="fa fa-backward"
                        aria-hidden="true"></i> Back</button>
            </div>

            <button mat-button class="btn btn-success" [disabled]="!clientForm.valid"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                Submit</button>

        </div>
    </form>
</div>