<div>
    <app-page-header [heading]="'Add New Client '" [icon]="'fa fa-plus'"></app-page-header>
</div>
<div class="card mb-3">
    <div class="card-header bg-info">
            <mat-label class="labeltext text-white ">Client Information </mat-label>
        </div>
<mat-horizontal-stepper [linear]="isLinear" #stepper class="table-active">
    <mat-step [stepControl]="clientPersonalDetailsForm">
      <form [formGroup]="clientPersonalDetailsForm">
        <ng-template matStepLabel>Fill out client personal details</ng-template>
        <div class="w-100 float-left">
                <!-- <form role="form"> -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Name" formControlName="ClientName" name="ClientName" id="ClientName" (change)="CheckForWhiteSpace('ClientName','clientPersonalDetailsForm',0)" required>
                        
                        <mat-error *ngIf="clientPersonalDetailsForm.controls['ClientName'].invalid">
                            <span *ngIf="clientPersonalDetailsForm.controls['ClientName'].errors.required"> Name can not be empty</span>
                            <span *ngIf="clientPersonalDetailsForm.controls['ClientName'].errors.pattern"> Name can not contain numbers, Special charecters and Whitspace at the beginning</span>
                        </mat-error>
                    
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Primary Email" formControlName="personalEmailId" name="personalEmailId" id="personalEmailId" required>
                        <mat-hint style="margin-left: 360px;"><strong>example: abc@gmail.com</strong> </mat-hint>
                        <mat-error *ngIf="clientPersonalDetailsForm.controls['personalEmailId'].invalid">
                                <span *ngIf="clientPersonalDetailsForm.controls['personalEmailId'].errors.required">Email can not be empty</span>
                                <span *ngIf="clientPersonalDetailsForm.controls['personalEmailId'].errors.pattern"> Please enter valid email</span>
                            </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Secondary Email" formControlName="secoundryEmailId" >
                        <mat-hint style="margin-left: 360px;" ><strong>example: abc@gmail.com</strong> </mat-hint>
                        <mat-error *ngIf="clientPersonalDetailsForm.controls['secoundryEmailId'].invalid">
                            
                                <span *ngIf="clientPersonalDetailsForm.controls['secoundryEmailId'].errors.pattern"> Please enter valid email</span>
                                <span *ngIf="clientPersonalDetailsForm.controls['secoundryEmailId'].errors?.CheckPersonalEmail">Enter different email than personal email</span>
                                
                                </mat-error>
                    </mat-form-field>
                </div>
               
           

            </div>
            <div class="w-100 float-left">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Address" formControlName="Address" name="Address" id="CoClient" (change)="CheckForWhiteSpace('Address','clientPersonalDetailsForm',0)" required>
                                <mat-error *ngIf="clientPersonalDetailsForm.controls['Address'].invalid">
                                        <span *ngIf="clientPersonalDetailsForm.controls['Address'].errors.required"> Address can not be empty</span>
                                        <span *ngIf="clientPersonalDetailsForm.controls['Address'].errors.pattern"> Address can not contain special charecters and  Whitspaces at the beginning</span>
                               
                                      
                                    </mat-error>
                            </mat-form-field>
                        </div>
                    <!-- <form role="form"> -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                            <mat-form-field class="w-100">
                                <input  type="text" matInput formControlName="Country" [matAutocomplete]="auto2"
                                    placeholder="Country" required>
                                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" style="max-height: 200px !important"  (optionSelected)="SelectCountryCode('Country','clientPersonalDetailsForm')" > 
                                    <mat-option *ngFor="let option of filteredOptionsForClientPersonalDetailsForm | async" [value]="option" style="max-height: 200px !important">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="clientPersonalDetailsForm.controls['Country'].invalid">
                                    <span *ngIf="clientPersonalDetailsForm.controls['Country'].errors.required">Country can not be empty</span>
                                  
                                </mat-error>
                            </mat-form-field>
                        </div>
        
                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-6 float-left">
                            <mat-form-field class="w-100">
                                 
                                    <input  readonly="true" type="text" matInput formControlName="countryCode" [matAutocomplete]="auto3" placeholder="Telephone Country Code">
                                     <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" style="max-height: 200px !important">
                                      <mat-option *ngFor="let option of filterBasedOptionsForCountryCodePersonaTab | async" [value]="option" style="max-height: 200px !important">
                                        {{option}}
                                      </mat-option>
                                    </mat-autocomplete>
                            </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Contact Number" formControlName="personalContactNo" name="personalContactNo" id="personalContactNo" maxlength="10" minlength="10"> 
                            <mat-error *ngIf="clientPersonalDetailsForm.controls['personalContactNo'].invalid">
                                    <span *ngIf="clientPersonalDetailsForm.controls['personalContactNo'].errors.required">Contact can not be empty</span>
                                    <span *ngIf="clientPersonalDetailsForm.controls['personalContactNo'].errors.pattern">Please enter valid number</span>
                                    <span *ngIf="clientPersonalDetailsForm.controls['personalContactNo'].errors.minlength && !clientPersonalDetailsForm.controls['personalContactNo'].errors.pattern">Contact number should be of 10 digit long</span>
                                </mat-error>
                        </mat-form-field>
                    </div> -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 float-left"> 
                        <div class='row'>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3 float-left">
                                <mat-form-field class="w-100">
                                 
                                        <input   type="text" matInput formControlName="countryCode" [matAutocomplete]="auto3" placeholder="Country Code" readonly="true">
                                         <!-- <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" style="max-height: 200px !important">
                                          <mat-option *ngFor="let option of filterBasedOptionsForCountryCodePersonaTab | async" [value]="option" style="max-height: 200px !important">
                                            {{option}}
                                          </mat-option>
                                        </mat-autocomplete> -->
                                </mat-form-field>

                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-9 float-left">
                                <mat-form-field class="w-100">
                                        <input matInput placeholder="Contact Number" formControlName="personalContactNo" name="personalContactNo" id="personalContactNo" maxlength="10" minlength="10" required> 
                                        <mat-error *ngIf="clientPersonalDetailsForm.controls['personalContactNo'].invalid">
                                                <span *ngIf="clientPersonalDetailsForm.controls['personalContactNo'].errors.required">Contact can not be empty</span>
                                                <span *ngIf="clientPersonalDetailsForm.controls['personalContactNo'].errors.pattern">Please enter valid number</span>
                                                <span *ngIf="clientPersonalDetailsForm.controls['personalContactNo'].errors.minlength && !clientPersonalDetailsForm.controls['personalContactNo'].errors.pattern">Contact number should be of 10 digit long</span>
                                            </mat-error>
                                    </mat-form-field>
                        </div>
                    </div>
                    </div>
                     
                </div>
                <div class="w-100 float-left">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                <mat-form-field class="w-100">
                                        <input matInput placeholder="Alternate Contact Number" formControlName="alternateContactNo" maxlength="10" minlength="10" > 
                                        <mat-error *ngIf="clientPersonalDetailsForm.controls['alternateContactNo'].invalid">
                                                <span *ngIf="clientPersonalDetailsForm.controls['alternateContactNo'].errors.pattern">Please enter valid number</span>
                                                <span *ngIf="clientPersonalDetailsForm.controls['alternateContactNo'].errors.minlength && !clientPersonalDetailsForm.controls['alternateContactNo'].errors.pattern">Contact number should be of 10 digit long</span>
                                                <span *ngIf="clientPersonalDetailsForm.controls['alternateContactNo'].errors?.Checkno">Enter different contact number than primary contact number</span>
                                                
                                            </mat-error>
                                    </mat-form-field>
                        </div>
                </div>
        <div>
          <button [disabled]="!clientPersonalDetailsForm.valid" class="btn btn-info mx-2" matStepperNext>Save and continue</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="clientProfestionalDetailsForm">
      <form [formGroup]="clientProfestionalDetailsForm">
        <ng-template matStepLabel>Fill out Client Professional Details</ng-template>
        <div class="w-100 float-left">
                <!-- <form role="form"> -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Company Name" formControlName="companyName" name="companyName" id="companyName" (change)="CheckForWhiteSpace('companyName','clientProfestionalDetailsForm',0)" required>
                        <mat-error *ngIf="clientProfestionalDetailsForm.controls['companyName'].invalid">
                            <span *ngIf="clientProfestionalDetailsForm.controls['companyName'].errors.required"> Company Name can not be empty</span>
                            <span *ngIf="clientProfestionalDetailsForm.controls['companyName'].errors.pattern"> Company Name can not contain numbers, Special charecters and Whitspace at the beginning</span>
                        
                        </mat-error>
                    
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Address" formControlName="Address" name="Address"  (change)="CheckForWhiteSpace('Address','clientProfestionalDetailsForm',0)" required>
                        <mat-error *ngIf="clientProfestionalDetailsForm.controls['Address'].invalid">
                                <span *ngIf="clientProfestionalDetailsForm.controls['Address'].errors.required"> Address can not be empty</span>
                                <span *ngIf="clientProfestionalDetailsForm.controls['Address'].errors.pattern"> Address can not contain  Whitspace at the beginning</span>
                            </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                    <mat-form-field class="w-100">
                        <input  type="text" matInput formControlName="Country" [matAutocomplete]="auto"
                            placeholder="Country" required>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" style="max-height: 200px !important" (optionSelected)="SelectCountryCode('Country','clientProfestionalDetailsForm')">
                            <mat-option *ngFor="let option of filteredOptionsForClientProfestionalDetailsForm | async" [value]="option" style="max-height: 200px !important">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="clientProfestionalDetailsForm.controls['Country'].invalid">
                                <span *ngIf="clientProfestionalDetailsForm.controls['Country'].errors.required">Country can not be empty</span>
                              
                            </mat-error>
                    </mat-form-field>
                </div>


            </div>
            <div class="w-100 float-left">
                    <!-- <form role="form"> -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Company Email" formControlName="companyEmailId" name="companyEmailId" id="companyEmailId" required>
                            <mat-hint style="margin-left: 360px;"><strong>example: abc@gmail.com</strong> </mat-hint>
                            <mat-error *ngIf="clientProfestionalDetailsForm.controls['companyEmailId'].invalid">
                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyEmailId'].errors.required">Email can not be empty</span>
                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyEmailId'].errors.pattern"> Please enter valid email</span>
                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyEmailId'].errors?.companyEmail"> Please enter different email id than submitted for personal details </span>
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 float-left"> 
                            <div class='row'>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3 float-left">
                                    <mat-form-field class="w-100">
                                     
                                            <input   type="text" matInput formControlName="countryCode" [matAutocomplete]="auto4" placeholder="Country Code" readonly="true">
                                             <!-- <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" style="max-height: 200px !important">
                                              <mat-option *ngFor="let option of filterBasedOptionsForCountryCodePersonaTab | async" [value]="option" style="max-height: 200px !important">
                                                {{option}}
                                              </mat-option>
                                            </mat-autocomplete> -->
                                    </mat-form-field>
    
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-9 float-left">
                                    <mat-form-field class="w-100">
                                            <input matInput placeholder="Contact Number" formControlName="companyContactNo"  maxlength="10" minlength="10" required> 
                                            <mat-error *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].invalid">
                                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].errors.required">Contact can not be empty</span>
                                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].errors.pattern"> Please enter valid number</span>
                                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].errors?.contactNumber"> Please enter different number than personal number</span>
                                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].errors.minlength && !clientProfestionalDetailsForm.controls['companyContactNo'].errors.pattern"> Contact number should be atleat 10 charecter long</span>
                                                </mat-error>
                                        </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Extension" formControlName="extension" required >
                               <mat-error *ngIf="clientProfestionalDetailsForm.controls['extension'].invalid">
                                        <span *ngIf="clientProfestionalDetailsForm.controls['extension'].errors.required">Extention can not be empty</span>
                                        <span *ngIf="clientProfestionalDetailsForm.controls['extension'].errors.pattern"> Please enter valid number</span>
                                    </mat-error>
                            </mat-form-field>
                        </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-6 float-left">
                            <mat-form-field class="w-100">
                                 
                                    <input   type="text" matInput formControlName="countryCode" [matAutocomplete]="auto4" placeholder="Telephone Country Code">
                                    <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete" style="max-height: 200px !important">
                                      <mat-option *ngFor="let option of filterBasedOptionsForCountryCodeProfestionalTab | async" [value]="option" style="max-height: 200px !important">
                                        {{option}}
                                      </mat-option>
                                    </mat-autocomplete>
                            </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Contact Number" formControlName="companyContactNo" name="companyContactNo" id="companyContactNo" maxlength="11" minlength="10"> 
                            <mat-error *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].invalid">
                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].errors.required">Contact can not be empty</span>
                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].errors.pattern"> Please enter valid number</span>
                                    <span *ngIf="clientProfestionalDetailsForm.controls['companyContactNo'].errors.minlength && !clientProfestionalDetailsForm.controls['companyContactNo'].errors.pattern"> Contact number should be atleat 10 charecter long</span>
                                </mat-error>
                        </mat-form-field>
                    </div> -->
                               
    
    
                </div>
                <div class="w-100 float-left">
                    <!-- <form role="form"> -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Postal Code" formControlName="zip" name="zip" id="zip" maxlength="6" minlength="6" required>
                            <mat-error *ngIf="clientProfestionalDetailsForm.controls['zip'].invalid">
                                    <span *ngIf="clientProfestionalDetailsForm.controls['zip'].errors.required">Postal code can not be empty</span>
                                    <span *ngIf="clientProfestionalDetailsForm.controls['zip'].errors.pattern">Please enter valid Postal code</span>
                                    <span *ngIf="clientProfestionalDetailsForm.controls['zip'].errors.minlength && !clientProfestionalDetailsForm.controls['zip'].errors.pattern">Postal should be of 6 charecter long</span>
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Fax" formControlName="companyFax" name="companyFax" id="companyFax" maxlength="11"> 
                                <mat-error *ngIf="clientProfestionalDetailsForm.controls['companyFax'].invalid">
                                  
                                        <span *ngIf="clientProfestionalDetailsForm.controls['companyFax'].errors.pattern"> Please enter valid Fax</span>
                                    </mat-error>
                            </mat-form-field>
                        </div>    
                   
              
                  
    
    
                </div>
     
        <div>
          <!-- <button class="btn btn-info mx-2" matStepperPrevious>Back</button> -->
          <button [disabled]="!clientProfestionalDetailsForm.valid" class="btn btn-info mx-2" matStepperNext>Save and continue</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="coClientForm">
            <mat-checkbox class="example-margin" [(ngModel)]="showCoClientForm">Do you want to add client </mat-checkbox>
            <form [formGroup]="coClientForm">
              <ng-template matStepLabel>Fill out Co Client  Details</ng-template>
              <div formArrayName="coClientDetails" *ngIf="showCoClientForm">
                <!-- Check the correct way to iterate your form array -->
                <div *ngFor="let coClientDetail of coClientForm.controls.coClientDetails.controls; let i=index"  [formGroupName]="i">
                  <h4>Co Client <i (click)="deleteRow(i)" class="fa fa-times" aria-hidden="true"></i> </h4>
                  <div class="form-group">
                        <div class="w-100 float-left">
                                <!-- <form role="form"> -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="Name" formControlName="Name" name="Name" id="Name" (change)="CheckForWhiteSpace('Name','coClientForm',i)" >
                                      
                                        <mat-error *ngIf="coClientDetail.controls.Name.invalid">
                                           <span *ngIf="coClientDetail.controls.Name.errors.pattern">Name can not cointain special charecters, numbers and whitespace at beginning </span>
                                        </mat-error>
                                        
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="Address" formControlName="Address" name="Address" (change)="CheckForWhiteSpace('Address','coClientForm',i)" >
                                        <mat-error *ngIf="coClientDetail.controls.Address.invalid">
                                        <span *ngIf="coClientDetail.controls.Address.errors.pattern">Address can not contain whitespace at beginning </span>
                                    </mat-error>
                                      
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="Email" formControlName="email" name="email" id="email" >
                                        <mat-hint style="margin-left: 360px;"><strong>example: abc@gmail.com</strong> </mat-hint>
                                        <mat-error *ngIf="coClientDetail.controls.email.invalid">
                                            <span *ngIf="coClientDetail.controls.email.errors?.checkCoClientEmail">Please enter different email ID than privious ones</span> 
                                            <span *ngIf="coClientDetail.controls.email.errors?.CoClientEmailSimilar">Please enter different email ID than primary personal email </span> 
                                            <span *ngIf="coClientDetail.controls.email.errors.email">Please enter valid email</span> 
                                            
                                            <!-- Please enter different email ID than privious ones  -->
                                         </mat-error>
                                    </mat-form-field>
                                </div>
                            
                
                            </div>
                            <div class="w-100 float-left">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                            <mat-form-field class="w-100">
                                                <input  type="text" matInput formControlName="Country" [matAutocomplete]="auto9"
                                                    placeholder="Country">
                                                <mat-autocomplete autoActiveFirstOption #auto9="matAutocomplete" style="max-height: 200px !important" (optionSelected)="SelectCountryCode('Country','coClientForm',i)">
                                                    <mat-option *ngFor="let option of filterBasedOptionsForCountryCodeCoCLientTab[i] | async" [value]="option" style="max-height: 200px !important">
                                                        {{option}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error *ngIf="coClientDetail.controls.Country.invalid">
                                                      Country can not be empty
                                                      
                                                    </mat-error>
                                            </mat-form-field>
                                        </div>
                                    <!-- <form role="form"> -->
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-6 float-left">
                                                    <div class='row'>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-3 float-left">
                                                                    <mat-form-field class="w-100">
                                                         
                                                                            <input  readonly="true" type="text" matInput formControlName="countryCode" [matAutocomplete]="auto6" placeholder="Country Code">
                                                                        </mat-form-field>
                                                               
                                                                        </div>
                                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-9 float-left">
                                                                                <mat-form-field class="w-100">
                                                                                        <input matInput placeholder="Contact Number" formControlName="contactNo" name="contactNo" id="contactNo" maxlength="10" minlength="10" > 
                                                                                        <mat-error *ngIf="coClientDetail.controls.contactNo.invalid">
                                                                                           Please enter valid number
                                                                                         </mat-error>
                                                                                    </mat-form-field>
                                                                                    </div>
                                                        </div>
                                                        
                                                    <!-- <mat-form-field class="w-100">
                                                         
                                                            <input  readonly="true" type="text" matInput formControlName="countryCode" [matAutocomplete]="auto6" placeholder="Telephone Country Code">
                                                             <mat-autocomplete autoActiveFirstOption #auto6="matAutocomplete" style="max-height: 200px !important">
                                                              <mat-option *ngFor="let option of filterBasedOptionsForCountryCodeProfestionalTab | async" [value]="option" style="max-height: 200px !important">
                                                                {{option}}
                                                              </mat-option>
                                                            </mat-autocomplete>
                                                    </mat-form-field>
                                            </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                        <mat-form-field class="w-100">
                                            <input matInput placeholder="Contact Number" formControlName="contactNo" name="contactNo" id="contactNo" maxlength="10" minlength="10" > 
                                            <mat-error *ngIf="coClientDetail.controls.contactNo.invalid">
                                               Please enter valid number
                                             </mat-error>
                                        </mat-form-field>
                                    </div> -->
                                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                            <mat-form-field class="w-100">
                                                <input matInput placeholder="Fax" formControlName="companyFax" name="companyFax" id="companyFax" maxlength="11"> 
                                                <mat-error *ngIf="clientProfestionalDetailsForm.controls['companyFax'].invalid">
                                                  
                                                        <span *ngIf="clientProfestionalDetailsForm.controls['companyFax'].errors.pattern"> Fax can only contain text</span>
                                                    </mat-error>
                                            </mat-form-field>
                                        </div> -->
                                  
                    
                    
                                </div>
                                </div>
                     
                     
                            </div>
                     
                        </div>
                        </div>
                      </form>
                      <button class="btn btn-info mx-2" matStepperNext>Save and continue</button>
                    
                        <button type="button"  *ngIf="showCoClientForm && CheckFlag()" (click)="AddNewCoCLientForm()" class="btn btn-info mx-2">Add another Co Client</button>
                              
                    </mat-step>
         
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button matStepperPrevious class="btn btn-info mx-2">Back</button>
      
        <button mat-button type="button" class="btn btn-success" [disabled]="!clientPersonalDetailsForm.valid && !clientProfestionalDetailsForm.valid" (click)='AddClient()' ><i class="fa fa-paper-plane" aria-hidden="true"></i>Submit
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="w-100 float-left table-info px-4 py-2 text-right footer-height">
        <div class="px-2 float-right">
            <button mat-button class="btn btn-info" [routerLink]="['/client']"><i class="fa fa-backward"
                    aria-hidden="true"></i> Back</button>
        </div>

        
            </div>

</div>
