table {
  width: 100%;
}
.mat-form-field {
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}
th.mat-sort-header-sorted {
  color:#ffffff;
  
}
/deep/.mat-sort-header-arrow {
  height: 12px;
  width: 12px;
  min-width: 12px;
  position: relative;
  display: flex;
  opacity: 0;
  color: white;
  
}
.buttonsize{
  width: 130px;
}
.mat-header-row {
  min-height: 48px;
}