<div [@routerTransition]>
  <app-page-header [heading]="'Clients'" [icon]="'fa fa-users'"></app-page-header>

</div>
 <!-- This button will be used to add client into the database-->
 <!-- <ngb-alert style="width:40%;" *ngIf="Message" type="success" (close)="Message = null">{{ successMessage }}</ngb-alert> -->
<div class="col-lg-4 col-md-4 col-sm-6 col-12">
 <mat-form-field class="w-100">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>
 <!-- This function is for filter the grid -->
  <div >
      <div class="card mb-3">
  <mat-table [dataSource]="clientDetails" matSort class="table-active">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          
  
    <!-- client name column -->
    <ng-container matColumnDef="ClientName">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header> <span class="text-white font-14">Client Name</span> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ClientName}} </mat-cell>
    </ng-container>
  
    <!-- client email Column -->
    <ng-container matColumnDef="Email">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Email</span> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.EmailID}} </mat-cell>
    </ng-container>
  
    <!--client address Column -->
    <ng-container matColumnDef="Address">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Address</span> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Address}} </mat-cell>
    </ng-container>
  
    <!-- client country Column -->
    <ng-container matColumnDef="Country">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header> <span class="text-white font-14">Country</span> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Country}} </mat-cell>
    </ng-container>
    <!-- co client  Column -->
    <ng-container matColumnDef="CoClient">
        <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header>  <span class="text-white font-14">Status</span> </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{GetStatus(element.IsActive)}} </mat-cell>
      </ng-container>
    <!--Action  Column, will contains button for View,Edit and Delete -->
      <ng-container matColumnDef="action">
        <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef > </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-right">
          <!-- [routerLink]="['/client-details'] -->
            <button mat-button (click)="ViewClientDetails(element.ClientDetailID)"  class="btn btn-info mx-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> View</button>
            <button mat-button *ngIf="!element.IsActive" (click)= "OpenActivationDialog(element.ClientDetailID)" class="btn btn-success mx-1 buttonsize"><i class="fa fa-check"></i> Activate</button>
            
            <button mat-button *ngIf="element.IsActive"(click)= "openDialog(element.ClientDetailID)" class="btn btn-danger mx-1 buttonsize"><i class="fa fa-ban" aria-hidden="true"></i> Detactivate</button>
       
        <!-- <button (click)="$event.stopPropagation(); status(element.TechDomainID, element.IsActive)" mat-raised-button
      [ngClass]="{'btn-info': !element.IsActive, 'btn-danger': element.IsActive}">
      <mat-icon *ngIf="!element.IsActive">verified_user</mat-icon>
      <mat-icon *ngIf="element.IsActive">not_interested</mat-icon>
      {{element.IsActive ? 'Deactivate' : 'Activate'}}
    </button> -->
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row >
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;background: #eee;padding-top: 20px;">
    <mat-progress-spinner 
       
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  
  <!-- this code is for pagignator -->
  
  <mat-paginator  [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons class="table-active"></mat-paginator>
  <div class="w-100 float-left table-info px-4 py-2 text-right footer-height" >
      <!-- This button will be used to add client into the database-->
    
      <button   mat-button class="btn btn-info" [routerLink]="['/add-client']"><i class="fa fa-plus" aria-hidden="true"></i> Add Client</button>
    </div>
</div>