<div [@routerTransition]>
  <app-page-header [heading]="'Clients'" [icon]="'fa fa-users'"></app-page-header>

</div>
 <!-- This button will be used to add client into the database-->


 
 <!-- This function is for filter the grid -->
  <div >
  <table mat-table [dataSource]="clientDetails" matSort class="mat-elevation-z8 "  >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- client name column -->
    <ng-container matColumnDef="ClientName">
      <th  class="lightcoral" mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
      <td mat-cell *matCellDef="let element"> {{element.ClientName}} </td>
    </ng-container>
  
    <!-- client email Column -->
    <ng-container matColumnDef="Email">
      <th class="lightcoral" mat-header-cell *matHeaderCellDef mat-sort-header>Email </th>
      <td mat-cell *matCellDef="let element"> {{element.EmailID}} </td>
    </ng-container>
  
    <!--client address Column -->
    <ng-container matColumnDef="Address">
      <th class="lightcoral" mat-header-cell *matHeaderCellDef mat-sort-header>Address </th>
      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>
  
    <!-- client country Column -->
    <ng-container matColumnDef="Country">
      <th class="lightcoral" mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let element"> {{element.Country}} </td>
    </ng-container>
    <!-- co client  Column -->
    <ng-container matColumnDef="CoClient">
        <th class="lightcoral" mat-header-cell *matHeaderCellDef mat-sort-header>  Co Client </th>
        <td mat-cell *matCellDef="let element"> {{element.CoClient}} </td>
      </ng-container>
    <!--Action  Column, will contains button for View,Edit and Delete -->
      <ng-container matColumnDef="action">
        <th class="lightcoral" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <!-- [routerLink]="['/client-details'] -->
            <button mat-button  (click)="ViewClientDetails(element.ClientDetailID)">View</button>
          
            <button mat-button (click)= "DeleteClientWithID(element.ClientDetailID)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- this code is for pagignator -->
  <mat-paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator>

</div>

<div>
  <!-- This button will be used to add client into the database-->

  <button mat-flat-button color="primary" [routerLink]="['/add-client']">Add Client</button>
</div>
    
