<!-- 
<label>
    <strong>Name :</strong>
    {{currentClientDetails.ClientName}}
</label>  -->
<div class="w-100 float-left table-active py-5 px-2" *ngIf="currentClientDetails">
      <div class="row m-0">
        <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Client Name :</strong></div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.ClientName}}</div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Address:</strong></div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.Address}}</div>
      </div><br><br>
      <div class="row m-0">
            <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Primary Email ID :</strong></div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"> {{currentClientDetails.EmailID}}</div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Secondry Email ID :</strong></div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.EmailID2}}</div>
            
          </div><br><br>
          <div class="row m-0">
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Email ID Other :</strong></div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.EmailID2}}</div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Email ID Other:</strong></div>
                <div class="col-sm-2">{{currentClientDetails.EmailID4}}</div>
          </div><br><br>
          <div class="row m-0">
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Primary Co-Client  :</strong></div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.CoClient}}</div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Secondry Co-Client:</strong></div>
                <div class="col-sm-2">{{currentClientDetails.CoClient2}}</div>
          </div><br><br>
          <div class="row m-0">
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong> Co-Client Other  :</strong></div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.CoClient2}}</div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left"><strong>Co-Client Other :</strong></div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.CoClient4}}</div>
          </div><br><br>
      </div> 
      <div class="w-100 float-left d-block table-info px-4 py-2 table-info footer-height" >
            <!-- <div class="px-2 float-right" *ngIf="disable">
                <button mat-button class="btn btn-info" (click)=" MakeFieldEditable()"><i class="fa fa-pencil-square-o"
                        aria-hidden="true"></i> Edit</button>
            </div>
            <div class="px-2 float-right" *ngIf="!disable">
                <button mat-button class="btn btn-success" [disabled]="!personalDetailsForm.valid" (click)="UpdateClient()"><i class="fa fa-save" aria-hidden="true"></i>
                    Save</button>
            </div>
            <div class="px-2 float-right" *ngIf="!disable">
                <button mat-button class="btn btn-secondary" (click)="DiscardChanges()"><i class="fa fa-times" aria-hidden="true"></i>
                    Cancel</button>
            </div>
            <div class="px-2 float-right">
                    <button  mat-button class="btn btn-info" [routerLink]="['/client']"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
                    </div> -->
        </div>   

         