<!-- 
<label>
    <strong>Name :</strong>
    {{currentClientDetails.ClientName}}
</label>  -->
<div class="w-100 float-left table-active py-5 px-2">
      <div class="row m-0">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>Name :</strong></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"> {{currentClientDetails.ClientName}}</div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>Address:</strong></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.Address}}</div>
      </div><br><br>
      <div class="row m-0">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>Emmail ID 1 :</strong></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"> {{currentClientDetails.EmailID}}</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>Emmail ID 2 :</strong></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.EmailID2}}</div>
            
          </div><br><br>
          <div class="row m-0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>Emmail ID 3 :</strong></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.EmailID3}}</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>Emmail ID 4:</strong></div>
                <div class="col-sm-2">{{currentClientDetails.EmailID4}}</div>
          </div><br><br>
          <div class="row m-0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>CoClient 1 :</strong></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.CoClient}}</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>CoClient 2:</strong></div>
                <div class="col-sm-2">{{currentClientDetails.CoClient2}}</div>
          </div><br><br>
          <div class="row m-0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>CoClient 3 :</strong></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.CoClient3}}</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left"><strong>CoClient 4 :</strong></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 float-left">{{currentClientDetails.CoClient4}}</div>
          </div><br><br>
      </div>    

         