<!--*********************Code for Sub Task Module********************-->
<!-- <div class="card"> -->


  <!-- Lebel for Project Tittle,Task Tittle ,Task Description -->
  <form [formGroup]="LebalForm">
      <div class="example-container" style="padding-left:10px;padding-right: 10px;">    
         
            <div class="row">
                <div class="col-md-4">
                   <mat-form-field class="w-100">
                        
                             <mat-label style ="font-weight:bold;font-size:15px;color: black">Project Title</mat-label>
                                <input matInput placeholder="Project Title" formControlName=Project_ID  [readonly]="true">
                       
                     </mat-form-field>
                 </div>
                 <div class="col-md-4">
                   <mat-form-field class="w-100">
                       
                              <mat-label style ="font-weight:bold;font-size:15px;color: black">Task Title</mat-label>
                                  <input matInput placeholder="Task Title" formControlName=taskTitle  [readonly]="true">  
                   </mat-form-field>
                </div>
             </div>
       
        </div>
  </form>
  
<!-- Filtering The Table -->
<div class="col-md-3">
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
</div>

<!-- Code for Spinning Bar -->
<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner mode="indeterminate">

  </mat-progress-spinner>
</mat-card>


<!-- table-active -->

<mat-table [dataSource]="dataSource" matSort class="example-container mat-elevation-z8">


  <!-- SubTask Tittle column -->
  <ng-container matColumnDef="SubTask_Title">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header> <span class="text-white font-14">SubTask
      </span> </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.SubTask_Title}} </mat-cell>
  </ng-container>

  <!-- SubTask Description column -->
  <ng-container matColumnDef="SubTask_Description">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Description</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.SubTask_Description}} </mat-cell>
  </ng-container>

  <!-- Task Assingn to column-->
  <ng-container matColumnDef="SubTask_AssignTo">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Assign To</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SubTask_AssignTo}} </mat-cell>
    </ng-container> 
  
  
     <!-- Task Status column -->
    <ng-container matColumnDef="SubTask_Status">
        <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Status</span>
        </mat-header-cell>
        <!-- the field Status Status_Type which would seen on Grid table must be same as entity class of visual studio -->
        <mat-cell *matCellDef="let element"> {{element.Status_Id}} </mat-cell>
       
      </ng-container>
  
    
  
  <!-- SubTask Priority Coloumn -->
      <ng-container matColumnDef="SubTask_Priority">
          <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Priority</span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Priority_Id}} </mat-cell>
        </ng-container>
  
    
  
  <!-- SubTask Project Activity Area Coloumn -->
  <ng-container matColumnDef="SubTask_Activity">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Activity</span>
      </mat-header-cell>
       <mat-cell *matCellDef="let element">{{element.Activity_Id}} </mat-cell> 
    </ng-container>
  
  
    <!-- SubTask Created Date Coloumn-->
    <ng-container matColumnDef="SubTaskStart_Date">
        <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Start Date</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.SubTaskStart_Date|date}} </mat-cell>
      </ng-container> 
  
  <!-- SubTask Project Target Date Coloumn -->
  <ng-container matColumnDef="SubTaskTarget_Date">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Target Date</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.SubTaskTarget_Date|date}} </mat-cell>
  </ng-container>
  
  <!-- SubTask OriginAL Estimate Coloumn -->
  <ng-container matColumnDef="SubTaskOriginal_Estimate">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class= "text-white font-14">Original Estimate</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.SubTaskOriginal_Estimate}}</mat-cell>
  </ng-container>

  <!-- Project SubTaskTitle ID -->
  <ng-container matColumnDef="ProjectSubTaskID">
    <mat-header-cell class="bg-info" *matHeaderCellDef mat-sort-header><span class="text-white font-14">Subtaskid</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.ProjectSubTaskID}} </mat-cell>
  </ng-container>



  <!--These Buttons are Use to Edit Record and Delete-->

  <ng-container matColumnDef="Action">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef ><span class="text-white font-14">  </span>
      </mat-header-cell>
    
      <mat-cell *matCellDef="let element"><button (click)="ViewTask(element.ProjectTaskID)" style="line-height: 28px;"  mat-button class="mat-button btn btn-info mx-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

        <button mat-button class="btn btn-danger mx-1 mat-button" (click)="deleteTask(element.ProjectTaskID)" style="line-height: 28px;" ><i class="fa fa-times"  aria-hidden="true"></i></button>  </mat-cell> 
    </ng-container>
  
  <!-- Select Table Row Data -->
  <mat-header-row *matHeaderRowDef="displayedColumns">

  </mat-header-row>

  <!-- //Select Row Values -->
  <mat-row *matRowDef="let row; columns: displayedColumns;" style="min-height:36px;" [ngClass]="{'highlight': selectedRowIndex == row.ProjectSubTaskID}"
    (click)="highlight(row)">
  </mat-row>

</mat-table>

<div>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons class="table-active"></mat-paginator>

</div>


<!-- Code for SubTask Registration Form -->

<form [formGroup]="subtaskForm">

  <div *ngIf="isAddItem">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: smaller;color: steelblue">
            Click to add new Subtask
          </mat-panel-title>
        </mat-expansion-panel-header>



        <div class="example-container " style="padding-left:10px;padding-right: 10px;">
          <div class="row">
           
            <div class="col-md-3">
              <!-- SubTask Title Coloumn -->
              <mat-form-field class="w-100">
                <mat-label style="font-weight:bold;font-size:15px;color: black">SubTask Title</mat-label>
                <br />
                <input matInput placeholder="SubTask Title" formControlName=SubTask_Title [(ngModel)]="dataSource.SubTask_Title">

                <!-- Validation Error Message -->

                <mat-error *ngIf="subtaskForm.controls.SubTask_Title.invalid">
                  <span [hidden]="!subtaskForm.controls['SubTask_Title'].errors.required">
                    Task Title is required.
                  </span>
                  <span [hidden]="!subtaskForm.controls['SubTask_Title'].errors.maxlength">
                    Maximum allowed characters are 25
                  </span>

                </mat-error>
              </mat-form-field>
            </div>

            <!-- SubTask Description Coloumn -->
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <mat-label style="font-weight:bold;font-size:15px;color: black">Description</mat-label>

                <textarea matInput placeholder="SubTask_Description" formControlName=SubTask_Description style="position: relative;top: 15px;"> </textarea>
              </mat-form-field>
            </div>

            <!-- Upload documents -->
            <div class="col-md-2">

              <label style="font-weight:bold;font-size:15px;color: black; font-family: Roboto, Arial, sans-serif">Upload
                Document</label>
              <br />
              <input type="file" name="file" (change)="onFileChanged($event)" />
            </div>

            <div class="col-md-3" style="margin-top:12px;">

              <div>
                <button type="submit" class="btn btn-info ml-3" (click)="addnewSubTaskInGrid()"><i class="fa fa-plus"
                    aria-hidden="true"></i>{{formType}} Subtask</button>

                <button type="reset" class="btn btn-secondary ml-3" (click)="reset()"><i class="fa fa-times" aria-hidden="true"></i>Reset</button>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="w-100 float-left table-info px-4 py-2 text-right">
    <!-- This button will be used to  Edit Task -->
       <div *ngIf="disable">

             <!-- (click)="MakeFieldEditable()" will call on grid rowchange event -->
            <button mat-button class="btn btn-info" (click)="edit()"><i class="fa fa-edit" aria-hidden="true"></i>Edit</button>
            <button mat-button class="btn btn-secondary ml-3" [routerLink]="['/tasks']"><i class="fa fa-backward" aria-hidden="true"></i>
                   Back</button>
        </div>
              <!-- This button will be used to  Update Task -->
        <div *ngIf="!disable">
             <button mat-button class="btn btn-success ml-3"  (click)="SaveTaskInDB()"><i class="fa fa-save" aria-hidden="true"></i>Save</button>
             <button mat-button class="btn btn-secondary ml-3" (click)="discard()"><i class="fa fa-times" aria-hidden="true"></i>
                   Cancel</button>
             <button mat-button class="btn btn-secondary ml-3" [routerLink]="['/tasks']"><i class="fa fa-backward" aria-hidden="true"></i>
                   Back</button>
        </div>

  </div>

</form>