<div class="py-4 px-1">
        <div class="col-lg-12" style="margin-bottom: 1%;">
                <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                <label><strong>Task Title : </strong></label>{{taskdetails.TaskTitle}}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                <label><strong>Description: </strong></label>{{taskdetails.Description}}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                                <label><strong>Attachment : </strong></label>{{taskdetails.TaskAttachmentName}}
                        </div>
                </div>
        </div>
</div>

