<app-page-header [heading]="'Resource Details'" [icon]="'fa fa-info-circle'"></app-page-header>
<mat-tab-group>
  <mat-tab label="Summary">
    <app-resource-summary> </app-resource-summary>
  </mat-tab>
  <mat-tab label="Personal">
    <app-resource-personal></app-resource-personal>
  </mat-tab>
  <mat-tab label="Background">
    <app-resource-background></app-resource-background>
  </mat-tab>
  <mat-tab label="Qualification">
    <app-resource-qualification></app-resource-qualification>
  </mat-tab> 
  <mat-tab label="SkillSet">
<app-resource-skillset></app-resource-skillset>
  </mat-tab>
  <mat-tab label="Allocation">
    <app-resource-allocation></app-resource-allocation>
  </mat-tab>
  
</mat-tab-group>