
<div>
    <app-page-header [heading]="'Register Tasks'" [icon]="'fa fa-users'"></app-page-header>
  
  </div>

<br>
<form [formGroup]="taskForm" (ngSubmit)="SaveData()" >
<div class="example-container ">    
    <div class="row">    
        <div class="col-md-4" >
            <!-- Task Title Coloumn -->
            <mat-form-field class="w-100">
                <input matInput placeholder="Task Title" formControlName=TaskTitle>
                

                <!-- Validation Error Message -->
                <mat-error *ngIf="taskForm.controls.TaskTitle.invalid">
                    <span [hidden]="!taskForm.controls['TaskTitle'].errors.required">
                        Task Title is required.
                    </span>
                    <span [hidden]="!taskForm.controls['TaskTitle'].errors.maxlength">
                        Maximum allowed characters are 25
                    </span>

                    <span [hidden]="!taskForm.controls['TaskTitle'].errors.pattern">
                        Special characters are not allowed here.
                    </span>

                </mat-error>
            </mat-form-field>
        </div>
         <!-- Select Client Name -->
        <div class="col-md-4">
                <mat-form-field class="w-100">
                          <mat-select placeholder="ClientName" formControlName=ClientName>
                               
                                <mat-option *ngFor="let clients of myclients" [value]="clients.ClientName">
                                   {{clients.ClientName}}
                                      </mat-option>
        
                </mat-select>
                            <!-- Validation Error Message -->
                         <mat-error *ngIf="taskForm.controls.ClientName.invalid">
                                <span [hidden]="!taskForm.controls['ClientName'].errors.required">
                                    Select is required.
                                </span>
                            </mat-error>
                 </mat-form-field> 
        
                </div>
      
          <!-- Select Project Name -->
        <div class="col-md-4">
                <mat-form-field class="w-100">
                         <mat-select placeholder="Project Name" formControlName=Project_ID >
               
                                            <mat-option *ngFor="let projects of myclients" [value]="projects.ProjectID">
                                        {{projects.Title}}
                                              
                                            </mat-option>
        
                        </mat-select>
        
                         <!-- Validation Error Message -->
                         <mat-error *ngIf="taskForm.controls.Project_ID.invalid">
                                  <span [hidden]="!taskForm.controls['Project_ID'].errors.required">
                                    Select is required.
                                </span>
                            </mat-error>
                        
                 </mat-form-field>
                </div>
    </div>
    <div class="row mb-3">
      
        <!-- Task Description Coloumn -->
        <div class="col-md-4">
            <mat-form-field class="w-100">
                <textarea matInput placeholder="Description" formControlName=Description> </textarea>
                <!-- Validation Error Message -->
                <mat-error *ngIf="taskForm.controls.Description.invalid">
                    <span [hidden]="!taskForm.controls['Description'].errors.required">
                        Task Description is required.
                    </span>
                </mat-error>


            </mat-form-field>
        </div>
                       
           <div class="col-md-4 ">
                
                   <input type="file" name="file"  (change)="onFileChanged($event)" />
             
            </div>
       </div>

</div>


<div class="w-100 float-left table-info px-4 py-2 text-right">
    <!-- This button will be used to save new Task into the database-->

         <button mat-button class="btn btn-info" [disabled]="!taskForm.valid" ><i class="fa fa-plus" aria-hidden="true"></i>Save</button>
              <button mat-button class="btn btn-info ml-3" [routerLink]="['/ListTasksPath']"  ><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
</div>

</form>


