<app-page-header [heading]="'Project Details'" [icon]="'fa-bar-chart-o'"></app-page-header>

<div [@routerTransition]>
        <div *ngIf="projectdetails" class="project-details">
                <form class="mat-dialog-content table-active" (ngSubmit)="submit" #formControl="ngForm"
                        *ngIf="projectdetails">
                        <div class="form contactlist-container mat-elevation-z8">                                        
                                
                                <mat-tab-group class="client-detail " (selectedTabChange)="onLinkClick($event)"
                                        mat-align-tabs="left">                                        

                                        <mat-tab label="Summary">

                                                <div class="card mb-3">
                                                                <div class="w-100  table-info px-4 py-2 text-center"><b>{{projectdetails.Title}}-{{projectdetails.ProjectD_ID}}</b></div>
                                                        <div class="w-100 float-left table-active py-4 px-2">
                                                                        
                                                                <div class="row mx-0 my-2">
                                                                        <div
                                                                                class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                                                <div
                                                                                        class="summary-lebel float-left pr-2">
                                                                                        <strong>Project
                                                                                                Title :</strong></div>
                                                                                <div class="float-left">
                                                                                        {{projectdetails.Title}}</div>
                                                                        </div>
                                                                        <div
                                                                                class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                                                <div
                                                                                        class="summary-lebel float-left pr-2">
                                                                                        <strong>Client :</strong></div>
                                                                                <div class="float-left" hidden>
                                                                                        {{projectdetails.Client_ID}}
                                                                                </div>
                                                                                <div class="float-left"><a role="button"
                                                                                                (click)="Nav(projectdetails.Client_ID)"
                                                                                                style="color:dodgerblue;text-decoration: underline; cursor: pointer; ">{{projectdetails.ClientName}}</a>
                                                                                </div>
                                                                        </div>
                                                                        <div
                                                                                class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                                                <div
                                                                                        class="summary-lebel float-left pr-2">
                                                                                        <strong>Domain Name:</strong>
                                                                                </div>
                                                                                <div class="float-left">
                                                                                        {{projectdetails.DomainName}}
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div class="row mx-0 my-2">
                                                                        <div
                                                                                class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                                                <div
                                                                                        class="summary-lebel float-left pr-2">
                                                                                        <strong>Start Date :</strong>
                                                                                </div>
                                                                                <div class="float-left">
                                                                                        {{projectdetails.Start_Date|date}}
                                                                                </div>
                                                                        </div>
                                                                        <div
                                                                                class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                                                <div
                                                                                        class="summary-lebel float-left pr-2">
                                                                                        <strong>End Date :</strong>
                                                                                </div>
                                                                                <div class="float-left">
                                                                                        {{projectdetails.End_Date|date}}
                                                                                </div>
                                                                        </div>
                                                                        <div
                                                                                class="col-lg-4 col-md-4 col-sm-12 col-12 float-left">
                                                                                <div
                                                                                        class="summary-lebel float-left pr-2">
                                                                                        <strong>Duration :</strong>
                                                                                </div>
                                                                                <div class="float-left">
                                                                                        {{calcDuration(projectdetails.Start_Date, projectdetails.End_Date)}}
                                                                                </div>
                                                                        </div>
                                                                </div>

                                                        </div>

                                                </div>
                                        </mat-tab>

                                        <!-- Project Tab -->
                                        <mat-tab label="Project Information">
                                                <app-project-info *ngIf="projectdetails"
                                                        [projectInformation]="projectdetails"
                                                        [projectInformationbackup]="projectdetailsbackup"
                                                        (onprojectinformationChange)="save($event)"></app-project-info>
                                        </mat-tab>
                                        <!-- Client Tab -->
                                        <!-- <mat-tab label="Client Information">
                                                <app-project-client  [clientDetails]="clientdetails"></app-project-client>
                                        </mat-tab> -->
                                        <!-- Resource Tab -->
                                        <mat-tab label="Resource Information">
                                                <app-project-resource [resourceDetails]="resourcedetails">
                                                </app-project-resource>
                                        </mat-tab>
                                        <!--   -->
                                        <mat-tab label="Task Information">
                                                <app-project-task [taskDetails]="taskdetails"></app-project-task>
                                        </mat-tab>

                                </mat-tab-group>




                        </div>
                </form>
                <!-- <div class="w-100 float-left d-block table-info px-4 py-2 table-info">
                        <div class="px-2 float-right">
                                <button mat-button class="btn btn-secondary" tabindex="-1" (click)="onNoClick()"><i
                                                class="fa fa-backward" aria-hidden="true"></i> Back</button>
                        </div>
                </div> -->

        </div>