<app-page-header [heading]="'Project Details'" [icon]="'fa-bar-chart-o'"></app-page-header>

<div [@routerTransition]>
    <div *ngIf="projectdetails">
        <form class="mat-dialog-content table-active" (ngSubmit)="submit" #formControl="ngForm">
            <div class="form contactlist-container mat-elevation-z8">
                <mat-tab-group class="client-detail "  (selectedTabChange)="onLinkClick($event)" mat-align-tabs="left">

                        <mat-tab label="Summary Information"    style="background: steelblue;">
                                <div >
                                        <div class="form-group">
                                                <div class="col-lg-12" style="margin-bottom: 1%;">
                                                  <div class="row">
                                                    <div class="col-md-2" style="display:none">
                                                            <mat-form-field  >
                                                                    <mat-label>Project ID</mat-label>
                                                                    <input matInput #input class="form-control"  [(ngModel)]="projectdetails.ProjectID" name="ProjectID1" required>
                                                                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                                  </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2" >

                                                            <mat-form-field >
                                                                    <mat-label>Title</mat-label>
                                                                    <input matInput #input class="form-control"  [disabled]="disableSummary"  [(ngModel)]="projectdetails.Title" name="Title1" required  >
                                                                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                                  </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2">
                                                            <mat-form-field >
                                                                    <mat-label>Description</mat-label>
                                                                    <input matInput #input class="form-control"   [disabled]="disableSummary" [(ngModel)]="projectdetails.Description" name="ProjectDescription1" required  >
                                                                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                                  </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                                        <mat-form-field >
                                                                                <mat-label>Domain</mat-label>
                                                                                <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="projectdetails.DomainName" name="ProjectDomainName" >
                                                                              </mat-form-field>
                                                                    </div>

                                                </div>
                                                </div>
                                    </div>

                                    <div class="form-group">
                                            <div class="col-lg-12" style="margin-bottom: 1%;">
                                              <div class="row">
                                                <div class="col-md-2">

                                                         <mat-form-field >
                                                                <mat-label>Project Start Date</mat-label>
                                                                <input matInput [matDatepicker]="startpicker1"   [disabled]="disableSummary" [(ngModel)]="projectdetails.StartDate" name="ProjectStartDate" placeholder="Choose a date">
                                                                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                                                <mat-datepicker #startpicker></mat-datepicker>
                                                                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                              </mat-form-field>

                                                </div>
                                                <div class="col-md-2">

                                                        <mat-form-field >
                                                                <mat-label>Project End Date</mat-label>
                                                               <input matInput [matDatepicker]="endpicker2"   [disabled]="disableSummary" [(ngModel)]="projectdetails.EndDate"  name="ProjectEndDate" placeholder="Choose a date">
                                                                 <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                                                <mat-datepicker #endpicker></mat-datepicker>
                                                               <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                              </mat-form-field>

                                                </div>
                                                <div class="col-md-2">
                                                                <mat-form-field >
                                                                        <mat-label>Duration</mat-label>
                                                                        <input matInput #input class="form-control"   [disabled]="disableSummary"  [(ngModel)]="projectdetails.Duration" name="ProjectDuration" required  >
                                                                      </mat-form-field>
                                                        </div>


                                            </div>
                                            </div>
                                </div>

                                </div>
                        </mat-tab>

                   <!-- Project Tab -->
                   <mat-tab label="Project Information"   style="background: steelblue;">
                        <div >
                                <div class="form-group">
                                        <div class="col-lg-12" style="margin-bottom: 1%;">
                                          <div class="row">
                                            <div class="col-md-2" style="display:none">
                                                    <mat-form-field  >
                                                            <mat-label>Project ID</mat-label>
                                                            <input matInput #input class="form-control"  [disabled]="disable" [(ngModel)]="projectdetails.ProjectID" name="ProjectID" required>
                                                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                          </mat-form-field>
                                            </div>
                                            <div class="col-md-2" >

                                                    <mat-form-field >
                                                            <mat-label>Title</mat-label>
                                                            <input matInput #input class="form-control"  [disabled]="disable"  [(ngModel)]="projectdetails.Title" name="Title" required  >
                                                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                          </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                    <mat-form-field >
                                                            <mat-label>Description</mat-label>
                                                            <textarea matInput #input class="form-control"  [disabled]="disable" [(ngModel)]="projectdetails.Description" name="ProjectDescription" required style="height:25px" ></textarea>
                                                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                          </mat-form-field>
                                                </div>
                                                <div class="col-md-2">
                                                                <mat-form-field >
                                                                        <mat-label>Domain</mat-label>
                                                                        <input matInput #input class="form-control"  [disabled]="disable" [(ngModel)]="projectdetails.DomainName" name="ProjectDomainName" >
                                                                      </mat-form-field>
                                                            </div>

                                        </div>
                                        </div>
                            </div>

                            <div class="form-group">
                                    <div class="col-lg-12" style="margin-bottom: 1%;">
                                      <div class="row">
                                        <div class="col-md-2">

                                                 <mat-form-field >
                                                        <mat-label>Project Start Date</mat-label>
                                                        <input matInput [matDatepicker]="startpicker3" [(ngModel)]="projectdetails.StartDate" [disabled]="disable" name="ProjectStartDate" placeholder="Choose a date">
                                                        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #startpicker></mat-datepicker>
                                                        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                      </mat-form-field>

                                        </div>
                                        <div class="col-md-2">

                                                <mat-form-field >
                                                        <mat-label>Project End Date</mat-label>
                                                       <input matInput [matDatepicker]="endpicker4" [(ngModel)]="projectdetails.EndDate" [disabled]="disable"  name="ProjectEndDate" placeholder="Choose a date">
                                                         <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #endpicker></mat-datepicker>
                                                       <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                      </mat-form-field>

                                        </div>
                                        <div class="col-md-2">
                                                        <mat-form-field >
                                                                <mat-label>Duration</mat-label>
                                                                <input matInput #input class="form-control"  [disabled]="disable" [(ngModel)]="projectdetails.Duration" name="ProjectDuration" required  >
                                                              </mat-form-field>
                                                </div>


                                    </div>
                                    </div>
                        </div>

                        </div>
                </mat-tab>
                <!-- Client Tab -->
                <mat-tab label="Client Information"  style="background: steelblue;">
                                <div >
                                        <div class="form-group">
                                                <div class="col-lg-12" style="margin-bottom: 1%;">
                                                  <div class="row">
                                                    <div class="col-md-2" style="display:none">
                                                            <mat-form-field >
                                                                    <mat-label>ID</mat-label>
                                                                    <input matInput #input class="form-control"  [disabled]="disableSummary"  [(ngModel)]="clientdetails.Client_ID" name="Client_ID" >
                                                                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                                  </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2" >

                                                            <mat-form-field >
                                                                    <mat-label>Name</mat-label>
                                                                    <input matInput #input class="form-control"  [disabled]="disableSummary"  [(ngModel)]="clientdetails.ClientName" name="ClientName" >
                                                                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                                  </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2">
                                                            <mat-form-field >
                                                                    <mat-label>Address</mat-label>
                                                                    <input matInput #input class="form-control"  [disabled]="disableSummary"  [(ngModel)]="clientdetails.Address" name="Address" >
                                                                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                                  </mat-form-field>
                                                        </div>

                                                        <div class="col-md-2">
                                                                <mat-form-field >
                                                                        <mat-label>Country</mat-label>
                                                                        <input matInput #input class="form-control"  [disabled]="disableSummary"  [(ngModel)]="clientdetails.Country" name="Country" >
                                                                        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                                      </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                                <mat-form-field >
                                                                        <mat-label>Client Status</mat-label>

                                                                        <mat-select placeholder="Select Status"  [disabled]="disableSummary" [(ngModel)]="projectdetails.Status" name="Status">
                                                                                <mat-option *ngFor="let status of Status" [value]="status.ClientStatusId" >
                                                                                  {{status.ClientStatus}}
                                                                                </mat-option>
                                                                              </mat-select>
                                                                        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                                      </mat-form-field>
                                                            </div>

                                                </div>
                                                <div class="row">
                                                                <div class="col-md-2">
                                                                                <mat-form-field >
                                                                                        <mat-label>CoClient</mat-label>
                                                                                        <input matInput #input class="form-control"   [disabled]="disableSummary" [(ngModel)]="clientdetails.CoClient" name="CoClient" >

                                                                                      </mat-form-field>
                                                                        </div>
                                                                <div class="col-md-2">
                                                                        <mat-form-field >
                                                                                <mat-label>CoClient2</mat-label>
                                                                                <input matInput #input class="form-control"   [disabled]="disableSummary" [(ngModel)]="clientdetails.CoClient2" name="CoClient2">
                                                                              </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                            <mat-form-field >
                                                                                    <mat-label>CoClient2 Email</mat-label>
                                                                                    <input matInput #input class="form-control"  [disabled]="disableSummary" [(ngModel)]="clientdetails.EmailID2" name="EmailID2" >
                                                                                  </mat-form-field>
                                                                    </div>

                                                </div>
                                                <div class="row">
                                                                <div class="col-md-2">
                                                                                <mat-form-field >
                                                                                        <mat-label>CoClient3</mat-label>
                                                                                        <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="clientdetails.CoClient3" name="CoClient3" >
                                                                                      </mat-form-field>
                                                                        </div>
                                                                        <div class="col-md-2" >

                                                                                <mat-form-field >
                                                                                        <mat-label>CoClient3 Email</mat-label>
                                                                                        <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="clientdetails.EmailID3" name="EmailID3" >

                                                                                      </mat-form-field>
                                                                        </div>

                                                                <div class="col-md-2">
                                                                        <mat-form-field >
                                                                                <mat-label>CoClient 4</mat-label>
                                                                                <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="clientdetails.CoClient4" name="CoClient4" >

                                                                              </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                            <mat-form-field >
                                                                                    <mat-label>CoClient4 Email ID</mat-label>
                                                                                    <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="clientdetails.EmailID4" name="EmailID4" >
                                                                                  </mat-form-field>
                                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                </div>
                </mat-tab>
                <!-- Resource Tab -->
                <mat-tab label="Resource Information"  style="background: steelblue;">
                                <div>
                                        <div class="form-group">
                                                <div class="col-lg-12" style="margin-bottom: 1%;">
                                                  <div class="row">
                                                    <div class="col-md-2">
                                                            <mat-form-field >
                                                                    <mat-label>Name</mat-label>
                                                                    <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="resourcedetails.ResourceFirstname" name="ResourceName" >
                                                                    </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2" >

                                                            <mat-form-field >
                                                                    <mat-label>Total Experience</mat-label>
                                                                    <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="resourcedetails.TotalExp" name="TotalExp" >
                                                                  </mat-form-field>
                                                    </div>
                                                    <div class="col-md-2">
                                                            <mat-form-field >
                                                                    <mat-label>Email ID</mat-label>
                                                                    <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="resourcedetails.ResourceEmailId" name="ResourceEmailId" >
                                                                  </mat-form-field>
                                                        </div>
                                                        <div class="col-md-2">
                                                                <mat-form-field >
                                                                        <mat-label>Mobile Number</mat-label>
                                                                        <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="resourcedetails.ResourceMobileNumber" name="ResourceMobileNumber" >
                                                                      </mat-form-field>
                                                        </div>
                                                </div>
                                                <!-- Resource Tab -->
                                                <div class="row">
                                                                <div class="col-md-2">
                                                                        <mat-form-field >
                                                                                <mat-label>Status</mat-label>

                                                                                <mat-select [(ngModel)]="resourcedetails.Resource_IsActive" [disabled]="disableSummary" name="Resource_IsActive" >
                                                                                        <mat-option [value]="true" >Active</mat-option>
                                                                                        <mat-option [value]="false">InActive</mat-option>
                                                                                </mat-select>


                                                                              </mat-form-field>
                                                                </div>
                                                                <div class="col-md-2" >

                                                                        <mat-form-field >
                                                                                <mat-label>Remarks</mat-label>
                                                                                <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="resourcedetails.Remarks" name="Remarks" >

                                                                              </mat-form-field>
                                                                </div>
                                                                <div class="col-md-2">
                                                                        <mat-form-field >
                                                                                <mat-label>Shift</mat-label>

                                                                                <mat-select placeholder="Select Shift" [disabled]="disableSummary" [(ngModel)]="resourcedetails.Master_Shift_ID" name="Master_Shift_ID" >
                                                                                                <mat-option *ngFor="let shift of Shift" [value]="shift.ShiftID">
                                                                                                  {{shift.StartTimeIST}}-{{shift.EndTimeIST}}
                                                                                                </mat-option>
                                                                                              </mat-select>

                                                                              </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                            <mat-form-field >
                                                                                    <mat-label>Location</mat-label>

                                                                                    <mat-select placeholder="Select Location" [disabled]="disableSummary" [(ngModel)]="resourcedetails.Master_Location_ID" name="Master_Location">
                                                                                                <mat-option *ngFor="let location of Location" [value]="location.LocationID">
                                                                                                  {{location.LocationAddress}}
                                                                                                </mat-option>
                                                                                              </mat-select>
                                                                                  </mat-form-field>
                                                                    </div>
                                                            </div>
                                                            <div class="row">
                                                                        <div class="col-md-2">
                                                                                <mat-form-field >
                                                                                        <mat-label>Reporting Head</mat-label>

                                                                                        <mat-select placeholder="Select Reporting Head" [disabled]="disableSummary" [(ngModel)]="resourcedetails.ReportingHead_ID" name="ReportingHead_ID">
                                                                                                        <mat-option *ngFor="let reportingHead of ReportingHead"  [value]="reportingHead.UserDetailID" >
                                                                                                          {{reportingHead.Firstname}} {{reportingHead.Middlename}} {{reportingHead.Lastname}}
                                                                                                        </mat-option>
                                                                                                      </mat-select>

                                                                                      </mat-form-field>
                                                                        </div>
                                                                        <div class="col-md-2" >

                                                                                <mat-form-field >
                                                                                        <mat-label>Role</mat-label>

                                                                                        <mat-select placeholder="Select Role" [disabled]="disableSummary" [(ngModel)]="resourcedetails.Master_Role_ID" name="Master_Role">
                                                                                                        <mat-option *ngFor="let role of Role" [value]="role.UserRoleID">
                                                                                                          {{role.RoleName}}
                                                                                                        </mat-option>
                                                                                                      </mat-select>

                                                                                      </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                </div>
                                    </div>

                                </div>
                </mat-tab>
                <!--   -->
                <mat-tab label="Task Information"  style="background: steelblue;">
                        <div >
                                <div class="form-group">
                                        <div class="col-lg-12" style="margin-bottom: 1%;">
                                          <div class="row">
                                            <div class="col-md-2">
                                                    <mat-form-field >
                                                            <mat-label>Title</mat-label>
                                                            <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="taskdetails.TaskTitle" name="TaskTitle" [pattern]="'^[a-zA-Z \-\']$'" >
                                                            <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                                                          </mat-form-field>
                                            </div>
                                            <div class="col-md-2" >

                                                    <mat-form-field >
                                                            <mat-label>Description</mat-label>
                                                            <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="taskdetails.TaskDescription" name="TaskDescription" >
                                                            <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                                                          </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                    <mat-form-field >
                                                            <mat-label>Task Attachment</mat-label>
                                                            <input matInput #input class="form-control" [disabled]="disableSummary" [(ngModel)]="taskdetails.TaskAttachmentID" name="TaskAttachmentID" >
                                                            <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                                                          </mat-form-field>
                                                </div>
                                        </div>

                                </div>
                            </div>

                        </div>
        </mat-tab>

                </mat-tab-group>




            </div>
        </form>
        <div class="w-100 float-left d-block table-info px-4 py-2 table-info" >
                <div class="px-2 float-right" *ngIf="savevisible &&  !disablediv">
                        <button mat-button class="btn btn-info"(click)="edit()" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                </div>
                <div class="px-2 float-right" *ngIf="!savevisible &&  !disablediv">
                        <button mat-button class="btn btn-success" (click)="save()"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
                </div>
                <div class="px-2 float-right">
                        <button mat-button class="btn btn-secondary"(click)="onNoClick()" tabindex="-1"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                </div>


    </div>

    <!-- <div class="w-100 float-left d-block table-info px-4 py-2 table-info" >
            <div class="px-2 float-right" *ngIf="notfound">
                    <button mat-button class="btn btn-secondary"(click)="onNoClick()" tabindex="-1"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
            </div>


</div> -->

    <!-- <div class="w-100 float-left d-block table-info px-4 py-2 table-info" *ngIf="disablediv">
            <div class="px-2 float-right">
            </div>
    </div> -->

</div>
