<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <!-- <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr> -->
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat *ngIf="activeClientCount && inActiveClientCount && totalClientCount && link " [bgClass]="'primary'" [tag]="'Clients'" [icon]="'fa-users'" [count]="activeClientCount" [label]="'Active'" [count1]="inActiveClientCount" [label1]="'Inactive'" [totalcount]="totalClientCount" [link]="link"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [tag]="'Resources'" [icon]="'fa-users'" [count]="14" [label]="'Billable'" [count1]="12" [label1]="'Support'" [count2]="10" [label2]="'Bench'" [count3]="4" [label3]="'On Leave'" [totalcount]="40"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [tag]="'Projects'" [icon]="'fa-files-o'" [count]="9" [label]="'Current'" [count1]="1" [label1]="'Internal'"  [count2]="33" [label2]="'Closed'" [totalcount]="43"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [tag]="'Tasks'" [icon]="'fa-file-text'" [count]="16" [label]="'Completed'" [count1]="2" [label1]="'In Progress'" [count2]="6" [label2]="'Pending'" [totalcount]="24"></app-stat>
        </div>
    </div>
    <!-- <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert> -->
    <!-- <div class="row">
        <div class="col-lg-6">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-comments fa-fw"></i> Clients
                </div>
                <app-clients></app-clients>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-shopping-cart fa-fw"></i> Resources
                </div>
                <app-resources></app-resources>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Projects
                </div>
                <app-projects></app-projects>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-tasks fa-fw"></i> Tasks
                </div>
                <app-tasks></app-tasks>
            </div>
        </div>
    </div> -->
</div>
