<span class="k-i-loading k-icon" style="font-size: 64px;"></span>
<div>
    <app-page-header [heading]="'Tasks'" [icon]="'fa fa-users'"></app-page-header>
   
  </div>
  <!-- //Filtering The Table -->
<div class="col-md-3">
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field></div>

<!-- table-active -->
<mat-table [dataSource]="dataSource" matSort >

  <!-- Task Tittle column -->
  <ng-container matColumnDef="TaskTitle">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header> <span class="text-white font-14">Title</span> </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.TaskTitle}} </mat-cell>
  </ng-container>

   <!-- Task Project Title Coloumn -->
   <ng-container matColumnDef="Project_Title">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Project Title</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Project_Title}} </mat-cell>
  </ng-container>

  <!-- Task Assingn to column-->
  <ng-container matColumnDef="Task_AssignTo">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef mat-sort-header><span class="text-white font-14">Assign To</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Task_AssignTo}} </mat-cell>
  </ng-container> 


   <!-- Task Status column -->
  <ng-container matColumnDef="Task_Status">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef ><span class="text-white font-14">Status</span>
      </mat-header-cell>
      <!-- the field Status Status_Type which would seen on Grid table must be same as entity class of visual studio -->
      <mat-cell *matCellDef="let element">
          <img src={{element.Status_Icon}} height="15" width="15" > {{element.Status_Type}}</mat-cell>
         <!-- <mat-chip color="primary" selected style="padding: 5px; border-radius: 4px;"> {{element.Status_Type}}</mat-chip></mat-cell> -->
     
    </ng-container>

<!-- Task Priority Coloumn -->
    <ng-container matColumnDef="Task_Priority">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef ><span class="text-white font-14">Priority</span>
      </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Priority_Type}}</mat-cell>
      </ng-container>

  

<!-- Task Project Activity Area Coloumn -->
<ng-container matColumnDef="Task_Activity">
    <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef><span class="text-white font-14">Activity</span>
    </mat-header-cell>
     <mat-cell *matCellDef="let element">{{element.Task_Activity}}</mat-cell> 
  </ng-container>


  <!-- Task Created Date Coloumn-->
  <ng-container matColumnDef="Start_Date">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef ><span class="text-white font-14">Start Date</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Start_Date|date}} </mat-cell>
    </ng-container> 

<!-- Task Project Target Date Coloumn -->
<ng-container matColumnDef="Target_Date">
  <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef ><span class="text-white font-14">Target Date</span>
  </mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.Target_Date|date}} </mat-cell>
</ng-container>

<!-- Task OriginAL Estimate Coloumn -->
<ng-container matColumnDef="Original_Estimate">
  <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef ><span class= "text-white font-14">Original Estimate</span>
  </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.Original_Estimate} } </mat-cell>
</ng-container>

 <!--These Buttons are Use to Edit Record and Delete-->

  <ng-container matColumnDef="Action">
      <mat-header-cell class="bg-info" mat-header-cell *matHeaderCellDef ><span class="text-white font-14">  </span>
      </mat-header-cell>
    
      <mat-cell *matCellDef="let element"><button (click)="ViewTask(element.ProjectTaskID)" style="line-height: 28px;"  mat-button class="btn btn-info mx-1"  matTooltip="Edit Task"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

        <button mat-button class="btn btn-danger mx-1" (click)="deleteTask(element.ProjectTaskID)" style="line-height: 28px;" matTooltip="Delete Task"><i class="fa fa-times"  aria-hidden="true" ></i></button>  </mat-cell> 
    </ng-container>
  
 
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" style="min-height:36px;"></mat-row>
</mat-table>


<div>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="table-active"></mat-paginator>

</div>


<!-- Code for Spinning Bar -->
<mat-card *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner mode="indeterminate">
     
  </mat-progress-spinner>
</mat-card>

<div class="w-100 float-left table-info px-4 py-2 text-right">

  <!-- This button will be used to add new Task into the database-->

  <button mat-button class="btn btn-info" [routerLink]="['/addtask']" matTooltip="Create Task"><i class="fa fa-plus" aria-hidden="true" ></i>
    Add New Task</button>
</div>

